body{
 background: #333333; 
 height: 100vh; 
 display: flex; 
 justify-content: center; 
 align-items: center; 
 } 
.canvas{ 
 width: 960px; 
height: 960px; 
 }.pixel{ 
 width: 30px; 
height: 30px; 
 float: left; 
 } 
.pixel:nth-child(15) { background: rgb(0,0,0); }
.pixel:nth-child(16) { background: rgb(0,0,0); }
.pixel:nth-child(17) { background: rgb(0,0,0); }
.pixel:nth-child(44) { background: rgb(0,0,0); }
.pixel:nth-child(45) { background: rgb(0,0,0); }
.pixel:nth-child(46) { background: rgb(0,0,0); }
.pixel:nth-child(47) { background: rgb(256,40,36); }
.pixel:nth-child(48) { background: rgb(256,40,36); }
.pixel:nth-child(49) { background: rgb(256,40,36); }
.pixel:nth-child(50) { background: rgb(0,0,0); }
.pixel:nth-child(51) { background: rgb(0,0,0); }
.pixel:nth-child(52) { background: rgb(0,0,0); }
.pixel:nth-child(75) { background: rgb(0,0,0); }
.pixel:nth-child(76) { background: rgb(256,40,36); }
.pixel:nth-child(77) { background: rgb(256,40,36); }
.pixel:nth-child(78) { background: rgb(256,40,36); }
.pixel:nth-child(79) { background: rgb(256,40,36); }
.pixel:nth-child(80) { background: rgb(256,40,36); }
.pixel:nth-child(81) { background: rgb(256,40,36); }
.pixel:nth-child(82) { background: rgb(256,40,36); }
.pixel:nth-child(83) { background: rgb(256,40,36); }
.pixel:nth-child(84) { background: rgb(256,40,36); }
.pixel:nth-child(85) { background: rgb(0,0,0); }
.pixel:nth-child(106) { background: rgb(0,0,0); }
.pixel:nth-child(107) { background: rgb(256,40,36); }
.pixel:nth-child(108) { background: rgb(255,193,7); }
.pixel:nth-child(109) { background: rgb(255,193,7); }
.pixel:nth-child(110) { background: rgb(256,40,36); }
.pixel:nth-child(111) { background: rgb(256,40,36); }
.pixel:nth-child(112) { background: rgb(256,40,36); }
.pixel:nth-child(113) { background: rgb(256,40,36); }
.pixel:nth-child(114) { background: rgb(256,40,36); }
.pixel:nth-child(115) { background: rgb(255,193,7); }
.pixel:nth-child(116) { background: rgb(255,193,7); }
.pixel:nth-child(117) { background: rgb(256,40,36); }
.pixel:nth-child(118) { background: rgb(0,0,0); }
.pixel:nth-child(138) { background: rgb(0,0,0); }
.pixel:nth-child(139) { background: rgb(256,40,36); }
.pixel:nth-child(140) { background: rgb(255,193,7); }
.pixel:nth-child(141) { background: rgb(255,193,7); }
.pixel:nth-child(142) { background: rgb(256,40,36); }
.pixel:nth-child(143) { background: rgb(256,40,36); }
.pixel:nth-child(144) { background: rgb(256,40,36); }
.pixel:nth-child(145) { background: rgb(256,40,36); }
.pixel:nth-child(146) { background: rgb(256,40,36); }
.pixel:nth-child(147) { background: rgb(255,193,7); }
.pixel:nth-child(148) { background: rgb(255,193,7); }
.pixel:nth-child(149) { background: rgb(256,40,36); }
.pixel:nth-child(150) { background: rgb(0,0,0); }
.pixel:nth-child(170) { background: rgb(0,0,0); }
.pixel:nth-child(171) { background: rgb(256,40,36); }
.pixel:nth-child(172) { background: rgb(255,193,7); }
.pixel:nth-child(173) { background: rgb(255,193,7); }
.pixel:nth-child(174) { background: rgb(255,193,7); }
.pixel:nth-child(175) { background: rgb(256,40,36); }
.pixel:nth-child(176) { background: rgb(256,40,36); }
.pixel:nth-child(177) { background: rgb(256,40,36); }
.pixel:nth-child(178) { background: rgb(255,193,7); }
.pixel:nth-child(179) { background: rgb(255,193,7); }
.pixel:nth-child(180) { background: rgb(255,193,7); }
.pixel:nth-child(181) { background: rgb(256,40,36); }
.pixel:nth-child(182) { background: rgb(0,0,0); }
.pixel:nth-child(201) { background: rgb(0,0,0); }
.pixel:nth-child(202) { background: rgb(256,40,36); }
.pixel:nth-child(203) { background: rgb(0,0,0); }
.pixel:nth-child(204) { background: rgb(255,193,7); }
.pixel:nth-child(205) { background: rgb(255,193,7); }
.pixel:nth-child(206) { background: rgb(255,193,7); }
.pixel:nth-child(207) { background: rgb(255,193,7); }
.pixel:nth-child(208) { background: rgb(255,193,7); }
.pixel:nth-child(209) { background: rgb(255,193,7); }
.pixel:nth-child(210) { background: rgb(255,193,7); }
.pixel:nth-child(211) { background: rgb(255,193,7); }
.pixel:nth-child(212) { background: rgb(255,193,7); }
.pixel:nth-child(213) { background: rgb(0,0,0); }
.pixel:nth-child(214) { background: rgb(256,40,36); }
.pixel:nth-child(215) { background: rgb(0,0,0); }
.pixel:nth-child(233) { background: rgb(0,0,0); }
.pixel:nth-child(234) { background: rgb(256,40,36); }
.pixel:nth-child(235) { background: rgb(0,0,0); }
.pixel:nth-child(236) { background: rgb(0,0,0); }
.pixel:nth-child(237) { background: rgb(0,0,0); }
.pixel:nth-child(238) { background: rgb(0,0,0); }
.pixel:nth-child(239) { background: rgb(0,0,0); }
.pixel:nth-child(240) { background: rgb(0,0,0); }
.pixel:nth-child(241) { background: rgb(0,0,0); }
.pixel:nth-child(242) { background: rgb(0,0,0); }
.pixel:nth-child(243) { background: rgb(0,0,0); }
.pixel:nth-child(244) { background: rgb(0,0,0); }
.pixel:nth-child(245) { background: rgb(0,0,0); }
.pixel:nth-child(246) { background: rgb(256,40,36); }
.pixel:nth-child(247) { background: rgb(0,0,0); }
.pixel:nth-child(265) { background: rgb(0,0,0); }
.pixel:nth-child(266) { background: rgb(256,40,36); }
.pixel:nth-child(267) { background: rgb(255,193,7); }
.pixel:nth-child(268) { background: rgb(255,255,255); }
.pixel:nth-child(269) { background: rgb(255,255,255); }
.pixel:nth-child(270) { background: rgb(255,255,255); }
.pixel:nth-child(271) { background: rgb(0,0,0); }
.pixel:nth-child(272) { background: rgb(0,0,0); }
.pixel:nth-child(273) { background: rgb(0,0,0); }
.pixel:nth-child(274) { background: rgb(255,255,255); }
.pixel:nth-child(275) { background: rgb(255,255,255); }
.pixel:nth-child(276) { background: rgb(255,255,255); }
.pixel:nth-child(277) { background: rgb(255,193,7); }
.pixel:nth-child(278) { background: rgb(256,40,36); }
.pixel:nth-child(279) { background: rgb(0,0,0); }
.pixel:nth-child(297) { background: rgb(0,0,0); }
.pixel:nth-child(298) { background: rgb(256,40,36); }
.pixel:nth-child(299) { background: rgb(255,193,7); }
.pixel:nth-child(300) { background: rgb(255,193,7); }
.pixel:nth-child(301) { background: rgb(255,193,7); }
.pixel:nth-child(302) { background: rgb(255,193,7); }
.pixel:nth-child(303) { background: rgb(255,193,7); }
.pixel:nth-child(304) { background: rgb(255,193,7); }
.pixel:nth-child(305) { background: rgb(255,193,7); }
.pixel:nth-child(306) { background: rgb(255,193,7); }
.pixel:nth-child(307) { background: rgb(255,193,7); }
.pixel:nth-child(308) { background: rgb(255,193,7); }
.pixel:nth-child(309) { background: rgb(255,193,7); }
.pixel:nth-child(310) { background: rgb(256,40,36); }
.pixel:nth-child(311) { background: rgb(0,0,0); }
.pixel:nth-child(330) { background: rgb(0,0,0); }
.pixel:nth-child(331) { background: rgb(256,40,36); }
.pixel:nth-child(332) { background: rgb(255,193,7); }
.pixel:nth-child(333) { background: rgb(255,193,7); }
.pixel:nth-child(334) { background: rgb(255,193,7); }
.pixel:nth-child(335) { background: rgb(255,193,7); }
.pixel:nth-child(336) { background: rgb(255,193,7); }
.pixel:nth-child(337) { background: rgb(255,193,7); }
.pixel:nth-child(338) { background: rgb(255,193,7); }
.pixel:nth-child(339) { background: rgb(255,193,7); }
.pixel:nth-child(340) { background: rgb(255,193,7); }
.pixel:nth-child(341) { background: rgb(256,40,36); }
.pixel:nth-child(342) { background: rgb(0,0,0); }
.pixel:nth-child(362) { background: rgb(0,0,0); }
.pixel:nth-child(363) { background: rgb(256,40,36); }
.pixel:nth-child(364) { background: rgb(255,193,7); }
.pixel:nth-child(365) { background: rgb(255,193,7); }
.pixel:nth-child(366) { background: rgb(255,193,7); }
.pixel:nth-child(367) { background: rgb(255,193,7); }
.pixel:nth-child(368) { background: rgb(255,193,7); }
.pixel:nth-child(369) { background: rgb(255,193,7); }
.pixel:nth-child(370) { background: rgb(255,193,7); }
.pixel:nth-child(371) { background: rgb(255,193,7); }
.pixel:nth-child(372) { background: rgb(255,193,7); }
.pixel:nth-child(373) { background: rgb(256,40,36); }
.pixel:nth-child(374) { background: rgb(0,0,0); }
.pixel:nth-child(395) { background: rgb(0,0,0); }
.pixel:nth-child(396) { background: rgb(256,40,36); }
.pixel:nth-child(397) { background: rgb(255,193,7); }
.pixel:nth-child(398) { background: rgb(0,0,0); }
.pixel:nth-child(399) { background: rgb(0,0,0); }
.pixel:nth-child(400) { background: rgb(0,0,0); }
.pixel:nth-child(401) { background: rgb(0,0,0); }
.pixel:nth-child(402) { background: rgb(0,0,0); }
.pixel:nth-child(403) { background: rgb(255,193,7); }
.pixel:nth-child(404) { background: rgb(256,40,36); }
.pixel:nth-child(405) { background: rgb(0,0,0); }
.pixel:nth-child(428) { background: rgb(0,0,0); }
.pixel:nth-child(429) { background: rgb(0,0,0); }
.pixel:nth-child(430) { background: rgb(255,193,7); }
.pixel:nth-child(431) { background: rgb(255,193,7); }
.pixel:nth-child(432) { background: rgb(255,193,7); }
.pixel:nth-child(433) { background: rgb(255,193,7); }
.pixel:nth-child(434) { background: rgb(255,193,7); }
.pixel:nth-child(435) { background: rgb(0,0,0); }
.pixel:nth-child(436) { background: rgb(0,0,0); }
.pixel:nth-child(459) { background: rgb(0,0,0); }
.pixel:nth-child(460) { background: rgb(256,40,36); }
.pixel:nth-child(461) { background: rgb(0,0,0); }
.pixel:nth-child(462) { background: rgb(256,40,36); }
.pixel:nth-child(463) { background: rgb(256,40,36); }
.pixel:nth-child(464) { background: rgb(256,40,36); }
.pixel:nth-child(465) { background: rgb(256,40,36); }
.pixel:nth-child(466) { background: rgb(256,40,36); }
.pixel:nth-child(467) { background: rgb(0,0,0); }
.pixel:nth-child(468) { background: rgb(256,40,36); }
.pixel:nth-child(469) { background: rgb(0,0,0); }
.pixel:nth-child(490) { background: rgb(0,0,0); }
.pixel:nth-child(491) { background: rgb(256,40,36); }
.pixel:nth-child(492) { background: rgb(0,0,0); }
.pixel:nth-child(493) { background: rgb(256,40,36); }
.pixel:nth-child(494) { background: rgb(0,0,0); }
.pixel:nth-child(495) { background: rgb(0,0,0); }
.pixel:nth-child(496) { background: rgb(0,0,0); }
.pixel:nth-child(497) { background: rgb(0,0,0); }
.pixel:nth-child(498) { background: rgb(0,0,0); }
.pixel:nth-child(499) { background: rgb(256,40,36); }
.pixel:nth-child(500) { background: rgb(0,0,0); }
.pixel:nth-child(501) { background: rgb(256,40,36); }
.pixel:nth-child(502) { background: rgb(0,0,0); }
.pixel:nth-child(521) { background: rgb(0,0,0); }
.pixel:nth-child(522) { background: rgb(255,193,7); }
.pixel:nth-child(523) { background: rgb(255,193,7); }
.pixel:nth-child(524) { background: rgb(0,0,0); }
.pixel:nth-child(525) { background: rgb(256,40,36); }
.pixel:nth-child(526) { background: rgb(0,0,0); }
.pixel:nth-child(527) { background: rgb(3,169,244); }
.pixel:nth-child(528) { background: rgb(3,169,244); }
.pixel:nth-child(529) { background: rgb(3,169,244); }
.pixel:nth-child(530) { background: rgb(0,0,0); }
.pixel:nth-child(531) { background: rgb(256,40,36); }
.pixel:nth-child(532) { background: rgb(0,0,0); }
.pixel:nth-child(533) { background: rgb(255,193,7); }
.pixel:nth-child(534) { background: rgb(255,193,7); }
.pixel:nth-child(535) { background: rgb(0,0,0); }
.pixel:nth-child(552) { background: rgb(0,0,0); }
.pixel:nth-child(553) { background: rgb(256,40,36); }
.pixel:nth-child(554) { background: rgb(256,40,36); }
.pixel:nth-child(555) { background: rgb(255,193,7); }
.pixel:nth-child(556) { background: rgb(0,0,0); }
.pixel:nth-child(557) { background: rgb(256,40,36); }
.pixel:nth-child(558) { background: rgb(256,40,36); }
.pixel:nth-child(559) { background: rgb(0,0,0); }
.pixel:nth-child(560) { background: rgb(3,169,244); }
.pixel:nth-child(561) { background: rgb(0,0,0); }
.pixel:nth-child(562) { background: rgb(256,40,36); }
.pixel:nth-child(563) { background: rgb(256,40,36); }
.pixel:nth-child(564) { background: rgb(0,0,0); }
.pixel:nth-child(565) { background: rgb(255,193,7); }
.pixel:nth-child(566) { background: rgb(256,40,36); }
.pixel:nth-child(567) { background: rgb(256,40,36); }
.pixel:nth-child(568) { background: rgb(0,0,0); }
.pixel:nth-child(584) { background: rgb(0,0,0); }
.pixel:nth-child(585) { background: rgb(256,40,36); }
.pixel:nth-child(586) { background: rgb(256,40,36); }
.pixel:nth-child(587) { background: rgb(0,0,0); }
.pixel:nth-child(588) { background: rgb(0,0,0); }
.pixel:nth-child(589) { background: rgb(256,40,36); }
.pixel:nth-child(590) { background: rgb(256,40,36); }
.pixel:nth-child(591) { background: rgb(256,40,36); }
.pixel:nth-child(592) { background: rgb(0,0,0); }
.pixel:nth-child(593) { background: rgb(256,40,36); }
.pixel:nth-child(594) { background: rgb(256,40,36); }
.pixel:nth-child(595) { background: rgb(256,40,36); }
.pixel:nth-child(596) { background: rgb(0,0,0); }
.pixel:nth-child(597) { background: rgb(0,0,0); }
.pixel:nth-child(598) { background: rgb(256,40,36); }
.pixel:nth-child(599) { background: rgb(256,40,36); }
.pixel:nth-child(600) { background: rgb(0,0,0); }
.pixel:nth-child(617) { background: rgb(0,0,0); }
.pixel:nth-child(618) { background: rgb(0,0,0); }
.pixel:nth-child(620) { background: rgb(0,0,0); }
.pixel:nth-child(621) { background: rgb(256,40,36); }
.pixel:nth-child(622) { background: rgb(256,40,36); }
.pixel:nth-child(623) { background: rgb(256,40,36); }
.pixel:nth-child(624) { background: rgb(256,40,36); }
.pixel:nth-child(625) { background: rgb(256,40,36); }
.pixel:nth-child(626) { background: rgb(256,40,36); }
.pixel:nth-child(627) { background: rgb(256,40,36); }
.pixel:nth-child(628) { background: rgb(0,0,0); }
.pixel:nth-child(630) { background: rgb(0,0,0); }
.pixel:nth-child(631) { background: rgb(0,0,0); }
.pixel:nth-child(651) { background: rgb(0,0,0); }
.pixel:nth-child(652) { background: rgb(255,193,7); }
.pixel:nth-child(653) { background: rgb(255,193,7); }
.pixel:nth-child(654) { background: rgb(256,40,36); }
.pixel:nth-child(655) { background: rgb(256,40,36); }
.pixel:nth-child(656) { background: rgb(256,40,36); }
.pixel:nth-child(657) { background: rgb(256,40,36); }
.pixel:nth-child(658) { background: rgb(256,40,36); }
.pixel:nth-child(659) { background: rgb(255,193,7); }
.pixel:nth-child(660) { background: rgb(255,193,7); }
.pixel:nth-child(661) { background: rgb(0,0,0); }
.pixel:nth-child(683) { background: rgb(0,0,0); }
.pixel:nth-child(684) { background: rgb(256,40,36); }
.pixel:nth-child(685) { background: rgb(255,193,7); }
.pixel:nth-child(686) { background: rgb(255,193,7); }
.pixel:nth-child(687) { background: rgb(0,0,0); }
.pixel:nth-child(688) { background: rgb(0,0,0); }
.pixel:nth-child(689) { background: rgb(0,0,0); }
.pixel:nth-child(690) { background: rgb(255,193,7); }
.pixel:nth-child(691) { background: rgb(255,193,7); }
.pixel:nth-child(692) { background: rgb(256,40,36); }
.pixel:nth-child(693) { background: rgb(0,0,0); }
.pixel:nth-child(714) { background: rgb(0,0,0); }
.pixel:nth-child(715) { background: rgb(0,0,0); }
.pixel:nth-child(716) { background: rgb(256,40,36); }
.pixel:nth-child(717) { background: rgb(256,40,36); }
.pixel:nth-child(718) { background: rgb(0,0,0); }
.pixel:nth-child(722) { background: rgb(0,0,0); }
.pixel:nth-child(723) { background: rgb(256,40,36); }
.pixel:nth-child(724) { background: rgb(256,40,36); }
.pixel:nth-child(725) { background: rgb(0,0,0); }
.pixel:nth-child(726) { background: rgb(0,0,0); }
.pixel:nth-child(746) { background: rgb(0,0,0); }
.pixel:nth-child(747) { background: rgb(256,40,36); }
.pixel:nth-child(748) { background: rgb(256,40,36); }
.pixel:nth-child(749) { background: rgb(256,40,36); }
.pixel:nth-child(750) { background: rgb(0,0,0); }
.pixel:nth-child(754) { background: rgb(0,0,0); }
.pixel:nth-child(755) { background: rgb(256,40,36); }
.pixel:nth-child(756) { background: rgb(256,40,36); }
.pixel:nth-child(757) { background: rgb(256,40,36); }
.pixel:nth-child(758) { background: rgb(0,0,0); }
.pixel:nth-child(778) { background: rgb(0,0,0); }
.pixel:nth-child(779) { background: rgb(0,0,0); }
.pixel:nth-child(780) { background: rgb(0,0,0); }
.pixel:nth-child(781) { background: rgb(0,0,0); }
.pixel:nth-child(782) { background: rgb(0,0,0); }
.pixel:nth-child(786) { background: rgb(0,0,0); }
.pixel:nth-child(787) { background: rgb(0,0,0); }
.pixel:nth-child(788) { background: rgb(0,0,0); }
.pixel:nth-child(789) { background: rgb(0,0,0); }
.pixel:nth-child(790) { background: rgb(0,0,0); }
.pixel:nth-child(810) { background: rgb(0,0,0); }
.pixel:nth-child(811) { background: rgb(0,0,0); }
.pixel:nth-child(812) { background: rgb(0,0,0); }
.pixel:nth-child(813) { background: rgb(0,0,0); }
.pixel:nth-child(814) { background: rgb(0,0,0); }
.pixel:nth-child(818) { background: rgb(0,0,0); }
.pixel:nth-child(819) { background: rgb(0,0,0); }
.pixel:nth-child(820) { background: rgb(0,0,0); }
.pixel:nth-child(821) { background: rgb(0,0,0); }
.pixel:nth-child(822) { background: rgb(0,0,0); }
.pixel:nth-child(842) { background: rgb(0,0,0); }
.pixel:nth-child(843) { background: rgb(0,0,0); }
.pixel:nth-child(844) { background: rgb(0,0,0); }
.pixel:nth-child(845) { background: rgb(0,0,0); }
.pixel:nth-child(846) { background: rgb(0,0,0); }
.pixel:nth-child(850) { background: rgb(0,0,0); }
.pixel:nth-child(851) { background: rgb(0,0,0); }
.pixel:nth-child(852) { background: rgb(0,0,0); }
.pixel:nth-child(853) { background: rgb(0,0,0); }
.pixel:nth-child(854) { background: rgb(0,0,0); }
.pixel:nth-child(874) { background: rgb(0,0,0); }
.pixel:nth-child(875) { background: rgb(0,0,0); }
.pixel:nth-child(876) { background: rgb(0,0,0); }
.pixel:nth-child(877) { background: rgb(0,0,0); }
.pixel:nth-child(878) { background: rgb(0,0,0); }
.pixel:nth-child(882) { background: rgb(0,0,0); }
.pixel:nth-child(883) { background: rgb(0,0,0); }
.pixel:nth-child(884) { background: rgb(0,0,0); }
.pixel:nth-child(885) { background: rgb(0,0,0); }
.pixel:nth-child(886) { background: rgb(0,0,0); }
.pixel:nth-child(906) { background: rgb(0,0,0); }
.pixel:nth-child(907) { background: rgb(0,0,0); }
.pixel:nth-child(908) { background: rgb(0,0,0); }
.pixel:nth-child(909) { background: rgb(0,0,0); }
.pixel:nth-child(910) { background: rgb(0,0,0); }
.pixel:nth-child(914) { background: rgb(0,0,0); }
.pixel:nth-child(915) { background: rgb(0,0,0); }
.pixel:nth-child(916) { background: rgb(0,0,0); }
.pixel:nth-child(917) { background: rgb(0,0,0); }
.pixel:nth-child(918) { background: rgb(0,0,0); }
.pixel:nth-child(938) { background: rgb(0,0,0); }
.pixel:nth-child(939) { background: rgb(0,0,0); }
.pixel:nth-child(940) { background: rgb(0,0,0); }
.pixel:nth-child(941) { background: rgb(0,0,0); }
.pixel:nth-child(942) { background: rgb(0,0,0); }
.pixel:nth-child(946) { background: rgb(0,0,0); }
.pixel:nth-child(947) { background: rgb(0,0,0); }
.pixel:nth-child(948) { background: rgb(0,0,0); }
.pixel:nth-child(949) { background: rgb(0,0,0); }
.pixel:nth-child(950) { background: rgb(0,0,0); }
.pixel:nth-child(970) { background: rgb(0,0,0); }
.pixel:nth-child(971) { background: rgb(0,0,0); }
.pixel:nth-child(972) { background: rgb(0,0,0); }
.pixel:nth-child(973) { background: rgb(0,0,0); }
.pixel:nth-child(974) { background: rgb(0,0,0); }
.pixel:nth-child(978) { background: rgb(0,0,0); }
.pixel:nth-child(979) { background: rgb(0,0,0); }
.pixel:nth-child(980) { background: rgb(0,0,0); }
.pixel:nth-child(981) { background: rgb(0,0,0); }
.pixel:nth-child(982) { background: rgb(0,0,0); }
.pixel:nth-child(1002) { background: rgb(0,0,0); }
.pixel:nth-child(1003) { background: rgb(0,0,0); }
.pixel:nth-child(1004) { background: rgb(0,0,0); }
.pixel:nth-child(1005) { background: rgb(0,0,0); }
.pixel:nth-child(1006) { background: rgb(0,0,0); }
.pixel:nth-child(1010) { background: rgb(0,0,0); }
.pixel:nth-child(1011) { background: rgb(0,0,0); }
.pixel:nth-child(1012) { background: rgb(0,0,0); }
.pixel:nth-child(1013) { background: rgb(0,0,0); }
.pixel:nth-child(1014) { background: rgb(0,0,0); }
