body{
 background: #333333; 
 height: 100vh; 
 display: flex; 
 justify-content: center; 
 align-items: center; 
 } 
.canvas{ 
 width: 570px; 
height: 510px; 
 }.pixel{ 
 width: 30px; 
height: 30px; 
 float: left; 
 } 
.pixel:nth-child(8) { background: rgb(0,0,0); }
.pixel:nth-child(9) { background: rgb(0,0,0); }
.pixel:nth-child(10) { background: rgb(0,0,0); }
.pixel:nth-child(11) { background: rgb(0,0,0); }
.pixel:nth-child(25) { background: rgb(0,0,0); }
.pixel:nth-child(26) { background: rgb(0,0,0); }
.pixel:nth-child(27) { background: rgb(0,77,153); }
.pixel:nth-child(28) { background: rgb(0,77,153); }
.pixel:nth-child(29) { background: rgb(0,77,153); }
.pixel:nth-child(30) { background: rgb(0,77,153); }
.pixel:nth-child(31) { background: rgb(0,0,0); }
.pixel:nth-child(32) { background: rgb(0,0,0); }
.pixel:nth-child(43) { background: rgb(0,0,0); }
.pixel:nth-child(44) { background: rgb(0,77,153); }
.pixel:nth-child(45) { background: rgb(0,77,154); }
.pixel:nth-child(46) { background: rgb(0,77,155); }
.pixel:nth-child(47) { background: rgb(0,77,156); }
.pixel:nth-child(48) { background: rgb(0,77,157); }
.pixel:nth-child(49) { background: rgb(0,77,158); }
.pixel:nth-child(50) { background: rgb(0,77,159); }
.pixel:nth-child(51) { background: rgb(0,77,153); }
.pixel:nth-child(52) { background: rgb(0,0,0); }
.pixel:nth-child(61) { background: rgb(0,0,0); }
.pixel:nth-child(62) { background: rgb(0,77,152); }
.pixel:nth-child(63) { background: rgb(153,206,255); }
.pixel:nth-child(64) { background: rgb(153,206,256); }
.pixel:nth-child(65) { background: rgb(153,206,257); }
.pixel:nth-child(66) { background: rgb(153,206,258); }
.pixel:nth-child(67) { background: rgb(153,206,259); }
.pixel:nth-child(68) { background: rgb(153,206,260); }
.pixel:nth-child(69) { background: rgb(153,206,261); }
.pixel:nth-child(70) { background: rgb(153,206,262); }
.pixel:nth-child(71) { background: rgb(0,77,153); }
.pixel:nth-child(72) { background: rgb(0,0,0); }
.pixel:nth-child(80) { background: rgb(0,0,0); }
.pixel:nth-child(81) { background: rgb(0,77,153); }
.pixel:nth-child(82) { background: rgb(153,206,255); }
.pixel:nth-child(83) { background: rgb(153,206,256); }
.pixel:nth-child(84) { background: rgb(153,206,257); }
.pixel:nth-child(85) { background: rgb(153,206,258); }
.pixel:nth-child(86) { background: rgb(153,206,259); }
.pixel:nth-child(87) { background: rgb(153,206,260); }
.pixel:nth-child(88) { background: rgb(153,206,261); }
.pixel:nth-child(89) { background: rgb(153,206,262); }
.pixel:nth-child(90) { background: rgb(0,77,153); }
.pixel:nth-child(91) { background: rgb(0,0,0); }
.pixel:nth-child(98) { background: rgb(0,0,0); }
.pixel:nth-child(99) { background: rgb(0,77,148); }
.pixel:nth-child(100) { background: rgb(153,206,255); }
.pixel:nth-child(101) { background: rgb(153,206,255); }
.pixel:nth-child(102) { background: rgb(153,206,256); }
.pixel:nth-child(103) { background: rgb(153,206,257); }
.pixel:nth-child(104) { background: rgb(153,206,258); }
.pixel:nth-child(105) { background: rgb(153,206,259); }
.pixel:nth-child(106) { background: rgb(153,206,260); }
.pixel:nth-child(107) { background: rgb(153,206,261); }
.pixel:nth-child(108) { background: rgb(153,206,262); }
.pixel:nth-child(109) { background: rgb(153,206,263); }
.pixel:nth-child(110) { background: rgb(0,77,153); }
.pixel:nth-child(111) { background: rgb(0,0,0); }
.pixel:nth-child(117) { background: rgb(0,0,0); }
.pixel:nth-child(118) { background: rgb(0,77,149); }
.pixel:nth-child(119) { background: rgb(153,206,255); }
.pixel:nth-child(120) { background: rgb(153,206,255); }
.pixel:nth-child(121) { background: rgb(255,255,255); }
.pixel:nth-child(122) { background: rgb(0,0,0); }
.pixel:nth-child(125) { background: rgb(255,255,255); }
.pixel:nth-child(126) { background: rgb(0,0,0); }
.pixel:nth-child(127) { background: rgb(153,206,263); }
.pixel:nth-child(128) { background: rgb(153,206,264); }
.pixel:nth-child(129) { background: rgb(0,77,153); }
.pixel:nth-child(130) { background: rgb(0,0,0); }
.pixel:nth-child(136) { background: rgb(0,0,0); }
.pixel:nth-child(137) { background: rgb(0,77,150); }
.pixel:nth-child(138) { background: rgb(153,206,255); }
.pixel:nth-child(139) { background: rgb(153,206,255); }
.pixel:nth-child(140) { background: rgb(0,0,0); }
.pixel:nth-child(141) { background: rgb(0,0,0); }
.pixel:nth-child(144) { background: rgb(0,0,0); }
.pixel:nth-child(145) { background: rgb(0,0,0); }
.pixel:nth-child(146) { background: rgb(153,206,264); }
.pixel:nth-child(147) { background: rgb(153,206,265); }
.pixel:nth-child(148) { background: rgb(0,77,153); }
.pixel:nth-child(149) { background: rgb(0,0,0); }
.pixel:nth-child(155) { background: rgb(0,0,0); }
.pixel:nth-child(156) { background: rgb(0,77,151); }
.pixel:nth-child(157) { background: rgb(153,206,255); }
.pixel:nth-child(158) { background: rgb(153,206,255); }
.pixel:nth-child(159) { background: rgb(153,206,264); }
.pixel:nth-child(160) { background: rgb(230,138,0); }
.pixel:nth-child(161) { background: rgb(230,138,0); }
.pixel:nth-child(162) { background: rgb(230,138,0); }
.pixel:nth-child(163) { background: rgb(230,138,0); }
.pixel:nth-child(164) { background: rgb(153,206,264); }
.pixel:nth-child(165) { background: rgb(153,206,265); }
.pixel:nth-child(166) { background: rgb(153,206,266); }
.pixel:nth-child(167) { background: rgb(0,77,153); }
.pixel:nth-child(168) { background: rgb(0,0,0); }
.pixel:nth-child(173) { background: rgb(0,0,0); }
.pixel:nth-child(174) { background: rgb(0,77,153); }
.pixel:nth-child(175) { background: rgb(0,77,152); }
.pixel:nth-child(176) { background: rgb(153,206,255); }
.pixel:nth-child(177) { background: rgb(153,206,255); }
.pixel:nth-child(178) { background: rgb(153,206,264); }
.pixel:nth-child(179) { background: rgb(153,206,264); }
.pixel:nth-child(180) { background: rgb(230,138,0); }
.pixel:nth-child(181) { background: rgb(230,138,0); }
.pixel:nth-child(182) { background: rgb(153,206,264); }
.pixel:nth-child(183) { background: rgb(153,206,264); }
.pixel:nth-child(184) { background: rgb(153,206,266); }
.pixel:nth-child(185) { background: rgb(153,206,267); }
.pixel:nth-child(186) { background: rgb(0,77,153); }
.pixel:nth-child(187) { background: rgb(0,77,153); }
.pixel:nth-child(188) { background: rgb(0,0,0); }
.pixel:nth-child(192) { background: rgb(0,0,0); }
.pixel:nth-child(193) { background: rgb(0,77,153); }
.pixel:nth-child(194) { background: rgb(0,77,153); }
.pixel:nth-child(195) { background: rgb(153,206,255); }
.pixel:nth-child(196) { background: rgb(255,255,255); }
.pixel:nth-child(197) { background: rgb(255,255,255); }
.pixel:nth-child(198) { background: rgb(255,255,255); }
.pixel:nth-child(199) { background: rgb(255,255,255); }
.pixel:nth-child(200) { background: rgb(255,255,255); }
.pixel:nth-child(201) { background: rgb(255,255,255); }
.pixel:nth-child(202) { background: rgb(255,255,255); }
.pixel:nth-child(203) { background: rgb(255,255,255); }
.pixel:nth-child(204) { background: rgb(153,206,268); }
.pixel:nth-child(205) { background: rgb(0,77,153); }
.pixel:nth-child(206) { background: rgb(0,77,153); }
.pixel:nth-child(207) { background: rgb(0,0,0); }
.pixel:nth-child(211) { background: rgb(0,0,0); }
.pixel:nth-child(212) { background: rgb(0,77,153); }
.pixel:nth-child(213) { background: rgb(0,0,0); }
.pixel:nth-child(214) { background: rgb(255,255,255); }
.pixel:nth-child(215) { background: rgb(255,255,256); }
.pixel:nth-child(216) { background: rgb(255,255,257); }
.pixel:nth-child(217) { background: rgb(255,255,258); }
.pixel:nth-child(218) { background: rgb(255,255,259); }
.pixel:nth-child(219) { background: rgb(255,255,260); }
.pixel:nth-child(220) { background: rgb(255,255,261); }
.pixel:nth-child(221) { background: rgb(255,255,262); }
.pixel:nth-child(222) { background: rgb(255,255,263); }
.pixel:nth-child(223) { background: rgb(255,255,264); }
.pixel:nth-child(224) { background: rgb(0,0,0); }
.pixel:nth-child(225) { background: rgb(0,77,153); }
.pixel:nth-child(226) { background: rgb(0,0,0); }
.pixel:nth-child(231) { background: rgb(0,0,0); }
.pixel:nth-child(232) { background: rgb(0,0,0); }
.pixel:nth-child(233) { background: rgb(255,255,255); }
.pixel:nth-child(234) { background: rgb(255,255,256); }
.pixel:nth-child(235) { background: rgb(255,255,257); }
.pixel:nth-child(236) { background: rgb(255,255,258); }
.pixel:nth-child(237) { background: rgb(255,255,259); }
.pixel:nth-child(238) { background: rgb(255,255,260); }
.pixel:nth-child(239) { background: rgb(255,255,261); }
.pixel:nth-child(240) { background: rgb(255,255,262); }
.pixel:nth-child(241) { background: rgb(255,255,263); }
.pixel:nth-child(242) { background: rgb(255,255,264); }
.pixel:nth-child(243) { background: rgb(0,0,0); }
.pixel:nth-child(244) { background: rgb(0,0,0); }
.pixel:nth-child(251) { background: rgb(0,0,0); }
.pixel:nth-child(262) { background: rgb(0,0,0); }
.pixel:nth-child(270) { background: rgb(0,0,0); }
.pixel:nth-child(271) { background: rgb(230,138,0); }
.pixel:nth-child(272) { background: rgb(230,138,0); }
.pixel:nth-child(273) { background: rgb(230,138,0); }
.pixel:nth-child(274) { background: rgb(0,0,0); }
.pixel:nth-child(275) { background: rgb(0,0,0); }
.pixel:nth-child(276) { background: rgb(0,0,0); }
.pixel:nth-child(277) { background: rgb(0,0,0); }
.pixel:nth-child(278) { background: rgb(230,138,0); }
.pixel:nth-child(279) { background: rgb(230,138,0); }
.pixel:nth-child(280) { background: rgb(230,138,0); }
.pixel:nth-child(281) { background: rgb(0,0,0); }
.pixel:nth-child(290) { background: rgb(0,0,0); }
.pixel:nth-child(291) { background: rgb(0,0,0); }
.pixel:nth-child(292) { background: rgb(0,0,0); }
.pixel:nth-child(297) { background: rgb(0,0,0); }
.pixel:nth-child(298) { background: rgb(0,0,0); }
.pixel:nth-child(299) { background: rgb(0,0,0); }
.pixel:nth-child(309) { background: rgb(0,0,0); }
.pixel:nth-child(310) { background: rgb(0,0,0); }
.pixel:nth-child(311) { background: rgb(0,0,0); }
.pixel:nth-child(316) { background: rgb(0,0,0); }
.pixel:nth-child(317) { background: rgb(0,0,0); }
.pixel:nth-child(318) { background: rgb(0,0,0); }
