body{
 background: #333333; 
 height: 100vh; 
 display: flex; 
 justify-content: center; 
 align-items: center; 
 } 
.canvas{ 
 width: 850px; 
height: 1250px; 
 }.pixel{ 
 width: 50px; 
height: 50px; 
 float: left; 
 } 
.pixel:nth-child(7) { background: rgb(0,0,0); }
.pixel:nth-child(8) { background: rgb(0,0,0); }
.pixel:nth-child(9) { background: rgb(0,0,0); }
.pixel:nth-child(10) { background: rgb(0,0,0); }
.pixel:nth-child(11) { background: rgb(0,0,0); }
.pixel:nth-child(22) { background: rgb(0,0,0); }
.pixel:nth-child(23) { background: rgb(77,214,12); }
.pixel:nth-child(24) { background: rgb(77,214,12); }
.pixel:nth-child(25) { background: rgb(77,214,12); }
.pixel:nth-child(26) { background: rgb(77,214,12); }
.pixel:nth-child(27) { background: rgb(77,214,12); }
.pixel:nth-child(28) { background: rgb(77,214,12); }
.pixel:nth-child(29) { background: rgb(77,214,12); }
.pixel:nth-child(30) { background: rgb(0,0,0); }
.pixel:nth-child(38) { background: rgb(0,0,0); }
.pixel:nth-child(39) { background: rgb(77,214,12); }
.pixel:nth-child(40) { background: rgb(77,214,12); }
.pixel:nth-child(41) { background: rgb(77,214,12); }
.pixel:nth-child(42) { background: rgb(77,214,12); }
.pixel:nth-child(43) { background: rgb(77,214,12); }
.pixel:nth-child(44) { background: rgb(77,214,12); }
.pixel:nth-child(45) { background: rgb(77,214,12); }
.pixel:nth-child(46) { background: rgb(77,214,12); }
.pixel:nth-child(47) { background: rgb(77,214,12); }
.pixel:nth-child(48) { background: rgb(0,0,0); }
.pixel:nth-child(54) { background: rgb(0,0,0); }
.pixel:nth-child(55) { background: rgb(0,0,0); }
.pixel:nth-child(56) { background: rgb(77,214,12); }
.pixel:nth-child(57) { background: rgb(77,214,12); }
.pixel:nth-child(58) { background: rgb(77,214,12); }
.pixel:nth-child(59) { background: rgb(77,214,12); }
.pixel:nth-child(60) { background: rgb(77,214,12); }
.pixel:nth-child(61) { background: rgb(77,214,12); }
.pixel:nth-child(62) { background: rgb(77,214,12); }
.pixel:nth-child(63) { background: rgb(77,214,12); }
.pixel:nth-child(64) { background: rgb(77,214,12); }
.pixel:nth-child(65) { background: rgb(0,0,0); }
.pixel:nth-child(66) { background: rgb(0,0,0); }
.pixel:nth-child(71) { background: rgb(0,0,0); }
.pixel:nth-child(72) { background: rgb(77,214,12); }
.pixel:nth-child(73) { background: rgb(77,214,12); }
.pixel:nth-child(74) { background: rgb(77,214,12); }
.pixel:nth-child(75) { background: rgb(77,214,12); }
.pixel:nth-child(76) { background: rgb(77,214,12); }
.pixel:nth-child(77) { background: rgb(77,214,12); }
.pixel:nth-child(78) { background: rgb(77,214,12); }
.pixel:nth-child(79) { background: rgb(77,214,12); }
.pixel:nth-child(80) { background: rgb(77,214,12); }
.pixel:nth-child(81) { background: rgb(77,214,12); }
.pixel:nth-child(82) { background: rgb(77,214,12); }
.pixel:nth-child(83) { background: rgb(0,0,0); }
.pixel:nth-child(87) { background: rgb(0,0,0); }
.pixel:nth-child(88) { background: rgb(77,214,12); }
.pixel:nth-child(89) { background: rgb(77,214,12); }
.pixel:nth-child(90) { background: rgb(77,214,12); }
.pixel:nth-child(91) { background: rgb(77,214,12); }
.pixel:nth-child(92) { background: rgb(77,214,12); }
.pixel:nth-child(93) { background: rgb(77,214,12); }
.pixel:nth-child(94) { background: rgb(77,214,12); }
.pixel:nth-child(95) { background: rgb(77,214,12); }
.pixel:nth-child(96) { background: rgb(77,214,12); }
.pixel:nth-child(97) { background: rgb(77,214,12); }
.pixel:nth-child(98) { background: rgb(77,214,12); }
.pixel:nth-child(99) { background: rgb(77,214,12); }
.pixel:nth-child(100) { background: rgb(77,214,12); }
.pixel:nth-child(101) { background: rgb(0,0,0); }
.pixel:nth-child(104) { background: rgb(0,0,0); }
.pixel:nth-child(105) { background: rgb(77,214,12); }
.pixel:nth-child(106) { background: rgb(77,214,12); }
.pixel:nth-child(107) { background: rgb(77,214,12); }
.pixel:nth-child(108) { background: rgb(77,214,12); }
.pixel:nth-child(109) { background: rgb(77,214,12); }
.pixel:nth-child(110) { background: rgb(77,214,12); }
.pixel:nth-child(111) { background: rgb(77,214,12); }
.pixel:nth-child(112) { background: rgb(77,214,12); }
.pixel:nth-child(113) { background: rgb(77,214,12); }
.pixel:nth-child(114) { background: rgb(77,214,12); }
.pixel:nth-child(115) { background: rgb(77,214,12); }
.pixel:nth-child(116) { background: rgb(77,214,12); }
.pixel:nth-child(117) { background: rgb(77,214,12); }
.pixel:nth-child(118) { background: rgb(0,0,0); }
.pixel:nth-child(121) { background: rgb(0,0,0); }
.pixel:nth-child(122) { background: rgb(77,214,12); }
.pixel:nth-child(123) { background: rgb(77,214,12); }
.pixel:nth-child(124) { background: rgb(77,214,12); }
.pixel:nth-child(125) { background: rgb(77,214,12); }
.pixel:nth-child(126) { background: rgb(77,214,12); }
.pixel:nth-child(127) { background: rgb(77,214,12); }
.pixel:nth-child(128) { background: rgb(77,214,12); }
.pixel:nth-child(129) { background: rgb(77,214,12); }
.pixel:nth-child(130) { background: rgb(77,214,12); }
.pixel:nth-child(131) { background: rgb(77,214,12); }
.pixel:nth-child(132) { background: rgb(77,214,12); }
.pixel:nth-child(133) { background: rgb(77,214,12); }
.pixel:nth-child(134) { background: rgb(77,214,12); }
.pixel:nth-child(135) { background: rgb(0,0,0); }
.pixel:nth-child(138) { background: rgb(0,0,0); }
.pixel:nth-child(139) { background: rgb(77,214,12); }
.pixel:nth-child(140) { background: rgb(77,214,12); }
.pixel:nth-child(141) { background: rgb(77,214,12); }
.pixel:nth-child(142) { background: rgb(77,214,12); }
.pixel:nth-child(143) { background: rgb(77,214,12); }
.pixel:nth-child(144) { background: rgb(77,214,12); }
.pixel:nth-child(145) { background: rgb(77,214,12); }
.pixel:nth-child(146) { background: rgb(77,214,12); }
.pixel:nth-child(147) { background: rgb(77,214,12); }
.pixel:nth-child(148) { background: rgb(77,214,12); }
.pixel:nth-child(149) { background: rgb(77,214,12); }
.pixel:nth-child(150) { background: rgb(77,214,12); }
.pixel:nth-child(151) { background: rgb(77,214,12); }
.pixel:nth-child(152) { background: rgb(0,0,0); }
.pixel:nth-child(155) { background: rgb(0,0,0); }
.pixel:nth-child(156) { background: rgb(77,214,12); }
.pixel:nth-child(157) { background: rgb(77,214,12); }
.pixel:nth-child(158) { background: rgb(77,214,12); }
.pixel:nth-child(159) { background: rgb(77,214,12); }
.pixel:nth-child(160) { background: rgb(77,214,12); }
.pixel:nth-child(161) { background: rgb(77,214,12); }
.pixel:nth-child(162) { background: rgb(77,214,12); }
.pixel:nth-child(163) { background: rgb(77,214,12); }
.pixel:nth-child(164) { background: rgb(77,214,12); }
.pixel:nth-child(165) { background: rgb(77,214,12); }
.pixel:nth-child(166) { background: rgb(77,214,12); }
.pixel:nth-child(167) { background: rgb(77,214,12); }
.pixel:nth-child(168) { background: rgb(77,214,12); }
.pixel:nth-child(169) { background: rgb(0,0,0); }
.pixel:nth-child(173) { background: rgb(0,0,0); }
.pixel:nth-child(174) { background: rgb(77,214,12); }
.pixel:nth-child(175) { background: rgb(77,214,12); }
.pixel:nth-child(176) { background: rgb(77,214,12); }
.pixel:nth-child(177) { background: rgb(77,214,12); }
.pixel:nth-child(178) { background: rgb(77,214,12); }
.pixel:nth-child(179) { background: rgb(77,214,12); }
.pixel:nth-child(180) { background: rgb(77,214,12); }
.pixel:nth-child(181) { background: rgb(77,214,12); }
.pixel:nth-child(182) { background: rgb(77,214,12); }
.pixel:nth-child(183) { background: rgb(77,214,12); }
.pixel:nth-child(184) { background: rgb(77,214,12); }
.pixel:nth-child(185) { background: rgb(0,0,0); }
.pixel:nth-child(190) { background: rgb(0,0,0); }
.pixel:nth-child(191) { background: rgb(77,214,12); }
.pixel:nth-child(192) { background: rgb(77,214,12); }
.pixel:nth-child(193) { background: rgb(77,214,12); }
.pixel:nth-child(194) { background: rgb(77,214,12); }
.pixel:nth-child(195) { background: rgb(77,214,12); }
.pixel:nth-child(196) { background: rgb(77,214,12); }
.pixel:nth-child(197) { background: rgb(77,214,12); }
.pixel:nth-child(198) { background: rgb(77,214,12); }
.pixel:nth-child(199) { background: rgb(77,214,12); }
.pixel:nth-child(200) { background: rgb(77,214,12); }
.pixel:nth-child(201) { background: rgb(77,214,12); }
.pixel:nth-child(202) { background: rgb(0,0,0); }
.pixel:nth-child(208) { background: rgb(0,0,0); }
.pixel:nth-child(209) { background: rgb(77,214,12); }
.pixel:nth-child(210) { background: rgb(77,214,12); }
.pixel:nth-child(211) { background: rgb(77,214,12); }
.pixel:nth-child(212) { background: rgb(77,214,12); }
.pixel:nth-child(213) { background: rgb(77,214,12); }
.pixel:nth-child(214) { background: rgb(77,214,12); }
.pixel:nth-child(215) { background: rgb(77,214,12); }
.pixel:nth-child(216) { background: rgb(77,214,12); }
.pixel:nth-child(217) { background: rgb(77,214,12); }
.pixel:nth-child(218) { background: rgb(0,0,0); }
.pixel:nth-child(226) { background: rgb(0,0,0); }
.pixel:nth-child(227) { background: rgb(0,0,0); }
.pixel:nth-child(228) { background: rgb(77,214,12); }
.pixel:nth-child(229) { background: rgb(77,214,12); }
.pixel:nth-child(230) { background: rgb(77,214,12); }
.pixel:nth-child(231) { background: rgb(77,214,12); }
.pixel:nth-child(232) { background: rgb(77,214,12); }
.pixel:nth-child(233) { background: rgb(0,0,0); }
.pixel:nth-child(234) { background: rgb(0,0,0); }
.pixel:nth-child(242) { background: rgb(0,0,0); }
.pixel:nth-child(243) { background: rgb(77,214,12); }
.pixel:nth-child(244) { background: rgb(77,214,12); }
.pixel:nth-child(245) { background: rgb(77,214,12); }
.pixel:nth-child(246) { background: rgb(77,214,12); }
.pixel:nth-child(247) { background: rgb(77,214,12); }
.pixel:nth-child(248) { background: rgb(77,214,12); }
.pixel:nth-child(249) { background: rgb(77,214,12); }
.pixel:nth-child(250) { background: rgb(77,214,12); }
.pixel:nth-child(251) { background: rgb(77,214,12); }
.pixel:nth-child(252) { background: rgb(0,0,0); }
.pixel:nth-child(258) { background: rgb(0,0,0); }
.pixel:nth-child(259) { background: rgb(77,214,12); }
.pixel:nth-child(260) { background: rgb(77,214,12); }
.pixel:nth-child(261) { background: rgb(77,214,12); }
.pixel:nth-child(262) { background: rgb(77,214,12); }
.pixel:nth-child(263) { background: rgb(77,214,12); }
.pixel:nth-child(264) { background: rgb(77,214,12); }
.pixel:nth-child(265) { background: rgb(77,214,12); }
.pixel:nth-child(266) { background: rgb(77,214,12); }
.pixel:nth-child(267) { background: rgb(77,214,12); }
.pixel:nth-child(268) { background: rgb(77,214,12); }
.pixel:nth-child(269) { background: rgb(77,214,12); }
.pixel:nth-child(270) { background: rgb(0,0,0); }
.pixel:nth-child(274) { background: rgb(0,0,0); }
.pixel:nth-child(275) { background: rgb(77,214,12); }
.pixel:nth-child(276) { background: rgb(77,214,12); }
.pixel:nth-child(277) { background: rgb(0,0,0); }
.pixel:nth-child(278) { background: rgb(77,214,12); }
.pixel:nth-child(279) { background: rgb(77,214,12); }
.pixel:nth-child(280) { background: rgb(77,214,12); }
.pixel:nth-child(281) { background: rgb(77,214,12); }
.pixel:nth-child(282) { background: rgb(77,214,12); }
.pixel:nth-child(283) { background: rgb(77,214,12); }
.pixel:nth-child(284) { background: rgb(77,214,12); }
.pixel:nth-child(285) { background: rgb(0,0,0); }
.pixel:nth-child(286) { background: rgb(77,214,12); }
.pixel:nth-child(287) { background: rgb(77,214,12); }
.pixel:nth-child(288) { background: rgb(0,0,0); }
.pixel:nth-child(290) { background: rgb(0,0,0); }
.pixel:nth-child(291) { background: rgb(77,214,12); }
.pixel:nth-child(292) { background: rgb(77,214,12); }
.pixel:nth-child(293) { background: rgb(77,214,12); }
.pixel:nth-child(294) { background: rgb(0,0,0); }
.pixel:nth-child(295) { background: rgb(77,214,12); }
.pixel:nth-child(296) { background: rgb(77,214,12); }
.pixel:nth-child(297) { background: rgb(77,214,12); }
.pixel:nth-child(298) { background: rgb(77,214,12); }
.pixel:nth-child(299) { background: rgb(77,214,12); }
.pixel:nth-child(300) { background: rgb(77,214,12); }
.pixel:nth-child(301) { background: rgb(77,214,12); }
.pixel:nth-child(302) { background: rgb(0,0,0); }
.pixel:nth-child(303) { background: rgb(77,214,12); }
.pixel:nth-child(304) { background: rgb(77,214,12); }
.pixel:nth-child(305) { background: rgb(77,214,12); }
.pixel:nth-child(306) { background: rgb(0,0,0); }
.pixel:nth-child(307) { background: rgb(0,0,0); }
.pixel:nth-child(308) { background: rgb(77,214,12); }
.pixel:nth-child(309) { background: rgb(77,214,12); }
.pixel:nth-child(310) { background: rgb(0,0,0); }
.pixel:nth-child(311) { background: rgb(0,0,0); }
.pixel:nth-child(312) { background: rgb(77,214,12); }
.pixel:nth-child(313) { background: rgb(77,214,12); }
.pixel:nth-child(314) { background: rgb(77,214,12); }
.pixel:nth-child(315) { background: rgb(77,214,12); }
.pixel:nth-child(316) { background: rgb(77,214,12); }
.pixel:nth-child(317) { background: rgb(77,214,12); }
.pixel:nth-child(318) { background: rgb(77,214,12); }
.pixel:nth-child(319) { background: rgb(0,0,0); }
.pixel:nth-child(320) { background: rgb(0,0,0); }
.pixel:nth-child(321) { background: rgb(77,214,12); }
.pixel:nth-child(322) { background: rgb(77,214,12); }
.pixel:nth-child(323) { background: rgb(0,0,0); }
.pixel:nth-child(325) { background: rgb(0,0,0); }
.pixel:nth-child(326) { background: rgb(0,0,0); }
.pixel:nth-child(328) { background: rgb(0,0,0); }
.pixel:nth-child(329) { background: rgb(85,65,171); }
.pixel:nth-child(330) { background: rgb(85,65,171); }
.pixel:nth-child(331) { background: rgb(85,65,171); }
.pixel:nth-child(332) { background: rgb(85,65,171); }
.pixel:nth-child(333) { background: rgb(85,65,171); }
.pixel:nth-child(334) { background: rgb(85,65,171); }
.pixel:nth-child(335) { background: rgb(85,65,171); }
.pixel:nth-child(336) { background: rgb(0,0,0); }
.pixel:nth-child(338) { background: rgb(0,0,0); }
.pixel:nth-child(339) { background: rgb(0,0,0); }
.pixel:nth-child(344) { background: rgb(0,0,0); }
.pixel:nth-child(345) { background: rgb(85,65,171); }
.pixel:nth-child(346) { background: rgb(85,65,171); }
.pixel:nth-child(347) { background: rgb(85,65,171); }
.pixel:nth-child(348) { background: rgb(85,65,171); }
.pixel:nth-child(349) { background: rgb(85,65,171); }
.pixel:nth-child(350) { background: rgb(85,65,171); }
.pixel:nth-child(351) { background: rgb(85,65,171); }
.pixel:nth-child(352) { background: rgb(85,65,171); }
.pixel:nth-child(353) { background: rgb(85,65,171); }
.pixel:nth-child(354) { background: rgb(0,0,0); }
.pixel:nth-child(361) { background: rgb(0,0,0); }
.pixel:nth-child(362) { background: rgb(85,65,171); }
.pixel:nth-child(363) { background: rgb(85,65,171); }
.pixel:nth-child(364) { background: rgb(85,65,171); }
.pixel:nth-child(365) { background: rgb(0,0,0); }
.pixel:nth-child(366) { background: rgb(0,0,0); }
.pixel:nth-child(367) { background: rgb(0,0,0); }
.pixel:nth-child(368) { background: rgb(85,65,171); }
.pixel:nth-child(369) { background: rgb(85,65,171); }
.pixel:nth-child(370) { background: rgb(85,65,171); }
.pixel:nth-child(371) { background: rgb(0,0,0); }
.pixel:nth-child(378) { background: rgb(0,0,0); }
.pixel:nth-child(379) { background: rgb(77,214,12); }
.pixel:nth-child(380) { background: rgb(77,214,12); }
.pixel:nth-child(381) { background: rgb(0,0,0); }
.pixel:nth-child(385) { background: rgb(0,0,0); }
.pixel:nth-child(386) { background: rgb(77,214,12); }
.pixel:nth-child(387) { background: rgb(77,214,12); }
.pixel:nth-child(388) { background: rgb(0,0,0); }
.pixel:nth-child(394) { background: rgb(0,0,0); }
.pixel:nth-child(395) { background: rgb(77,214,12); }
.pixel:nth-child(396) { background: rgb(77,214,12); }
.pixel:nth-child(397) { background: rgb(77,214,12); }
.pixel:nth-child(398) { background: rgb(0,0,0); }
.pixel:nth-child(402) { background: rgb(0,0,0); }
.pixel:nth-child(403) { background: rgb(77,214,12); }
.pixel:nth-child(404) { background: rgb(77,214,12); }
.pixel:nth-child(405) { background: rgb(77,214,12); }
.pixel:nth-child(406) { background: rgb(0,0,0); }
.pixel:nth-child(411) { background: rgb(0,0,0); }
.pixel:nth-child(412) { background: rgb(0,0,0); }
.pixel:nth-child(413) { background: rgb(0,0,0); }
.pixel:nth-child(414) { background: rgb(0,0,0); }
.pixel:nth-child(415) { background: rgb(0,0,0); }
.pixel:nth-child(419) { background: rgb(0,0,0); }
.pixel:nth-child(420) { background: rgb(0,0,0); }
.pixel:nth-child(421) { background: rgb(0,0,0); }
.pixel:nth-child(422) { background: rgb(0,0,0); }
.pixel:nth-child(423) { background: rgb(0,0,0); }
