body{
 background: #333333; 
 height: 100vh; 
 display: flex; 
 justify-content: center; 
 align-items: center; 
 } 
.canvas{ 
 width: 460px; 
height: 820px; 
 }.pixel{ 
 width: 20px; 
height: 20px; 
 float: left; 
 } 
.pixel:nth-child(11) { background: rgb(48,48,48); }
.pixel:nth-child(12) { background: rgb(48,48,48); }
.pixel:nth-child(13) { background: rgb(48,48,48); }
.pixel:nth-child(14) { background: rgb(48,48,48); }
.pixel:nth-child(15) { background: rgb(48,48,48); }
.pixel:nth-child(16) { background: rgb(48,48,48); }
.pixel:nth-child(32) { background: rgb(48,48,48); }
.pixel:nth-child(33) { background: rgb(48,48,48); }
.pixel:nth-child(34) { background: rgb(209,55,55); }
.pixel:nth-child(35) { background: rgb(209,55,55); }
.pixel:nth-child(36) { background: rgb(209,55,55); }
.pixel:nth-child(37) { background: rgb(209,55,55); }
.pixel:nth-child(38) { background: rgb(209,55,55); }
.pixel:nth-child(39) { background: rgb(209,55,55); }
.pixel:nth-child(40) { background: rgb(48,48,48); }
.pixel:nth-child(41) { background: rgb(48,48,48); }
.pixel:nth-child(54) { background: rgb(48,48,48); }
.pixel:nth-child(55) { background: rgb(209,55,55); }
.pixel:nth-child(56) { background: rgb(209,55,55); }
.pixel:nth-child(57) { background: rgb(209,55,55); }
.pixel:nth-child(58) { background: rgb(209,55,55); }
.pixel:nth-child(59) { background: rgb(209,55,55); }
.pixel:nth-child(60) { background: rgb(209,55,55); }
.pixel:nth-child(61) { background: rgb(209,55,55); }
.pixel:nth-child(62) { background: rgb(209,55,55); }
.pixel:nth-child(63) { background: rgb(209,55,55); }
.pixel:nth-child(64) { background: rgb(209,55,55); }
.pixel:nth-child(65) { background: rgb(48,48,48); }
.pixel:nth-child(76) { background: rgb(48,48,48); }
.pixel:nth-child(77) { background: rgb(209,55,55); }
.pixel:nth-child(78) { background: rgb(209,55,55); }
.pixel:nth-child(79) { background: rgb(209,55,55); }
.pixel:nth-child(80) { background: rgb(209,55,55); }
.pixel:nth-child(81) { background: rgb(209,55,55); }
.pixel:nth-child(82) { background: rgb(209,55,55); }
.pixel:nth-child(83) { background: rgb(209,55,55); }
.pixel:nth-child(84) { background: rgb(209,55,55); }
.pixel:nth-child(85) { background: rgb(209,55,55); }
.pixel:nth-child(86) { background: rgb(209,55,55); }
.pixel:nth-child(87) { background: rgb(209,55,55); }
.pixel:nth-child(88) { background: rgb(209,55,55); }
.pixel:nth-child(89) { background: rgb(48,48,48); }
.pixel:nth-child(99) { background: rgb(48,48,48); }
.pixel:nth-child(100) { background: rgb(209,55,55); }
.pixel:nth-child(101) { background: rgb(209,55,55); }
.pixel:nth-child(102) { background: rgb(209,55,55); }
.pixel:nth-child(103) { background: rgb(209,55,55); }
.pixel:nth-child(104) { background: rgb(209,55,55); }
.pixel:nth-child(105) { background: rgb(209,55,55); }
.pixel:nth-child(106) { background: rgb(209,55,55); }
.pixel:nth-child(107) { background: rgb(209,55,55); }
.pixel:nth-child(108) { background: rgb(209,55,55); }
.pixel:nth-child(109) { background: rgb(209,55,55); }
.pixel:nth-child(110) { background: rgb(209,55,55); }
.pixel:nth-child(111) { background: rgb(209,55,55); }
.pixel:nth-child(112) { background: rgb(48,48,48); }
.pixel:nth-child(121) { background: rgb(48,48,48); }
.pixel:nth-child(122) { background: rgb(209,55,55); }
.pixel:nth-child(123) { background: rgb(209,55,55); }
.pixel:nth-child(124) { background: rgb(209,55,55); }
.pixel:nth-child(125) { background: rgb(209,55,55); }
.pixel:nth-child(126) { background: rgb(209,55,55); }
.pixel:nth-child(127) { background: rgb(209,55,55); }
.pixel:nth-child(128) { background: rgb(209,55,55); }
.pixel:nth-child(129) { background: rgb(209,55,55); }
.pixel:nth-child(130) { background: rgb(209,55,55); }
.pixel:nth-child(131) { background: rgb(209,55,55); }
.pixel:nth-child(132) { background: rgb(209,55,55); }
.pixel:nth-child(133) { background: rgb(209,55,55); }
.pixel:nth-child(134) { background: rgb(209,55,55); }
.pixel:nth-child(135) { background: rgb(209,55,55); }
.pixel:nth-child(136) { background: rgb(48,48,48); }
.pixel:nth-child(144) { background: rgb(48,48,48); }
.pixel:nth-child(145) { background: rgb(209,55,55); }
.pixel:nth-child(146) { background: rgb(209,55,55); }
.pixel:nth-child(147) { background: rgb(209,55,55); }
.pixel:nth-child(148) { background: rgb(209,55,55); }
.pixel:nth-child(149) { background: rgb(209,55,55); }
.pixel:nth-child(150) { background: rgb(209,55,55); }
.pixel:nth-child(151) { background: rgb(209,55,55); }
.pixel:nth-child(152) { background: rgb(209,55,55); }
.pixel:nth-child(153) { background: rgb(209,55,55); }
.pixel:nth-child(154) { background: rgb(209,55,55); }
.pixel:nth-child(155) { background: rgb(209,55,55); }
.pixel:nth-child(156) { background: rgb(209,55,55); }
.pixel:nth-child(157) { background: rgb(209,55,55); }
.pixel:nth-child(158) { background: rgb(209,55,55); }
.pixel:nth-child(159) { background: rgb(48,48,48); }
.pixel:nth-child(167) { background: rgb(48,48,48); }
.pixel:nth-child(168) { background: rgb(209,55,55); }
.pixel:nth-child(169) { background: rgb(209,55,55); }
.pixel:nth-child(170) { background: rgb(209,55,55); }
.pixel:nth-child(171) { background: rgb(209,55,55); }
.pixel:nth-child(172) { background: rgb(209,55,55); }
.pixel:nth-child(173) { background: rgb(209,55,55); }
.pixel:nth-child(174) { background: rgb(209,55,55); }
.pixel:nth-child(175) { background: rgb(209,55,55); }
.pixel:nth-child(176) { background: rgb(209,55,55); }
.pixel:nth-child(177) { background: rgb(209,55,55); }
.pixel:nth-child(178) { background: rgb(209,55,55); }
.pixel:nth-child(179) { background: rgb(209,55,55); }
.pixel:nth-child(180) { background: rgb(209,55,55); }
.pixel:nth-child(181) { background: rgb(209,55,55); }
.pixel:nth-child(182) { background: rgb(48,48,48); }
.pixel:nth-child(190) { background: rgb(48,48,48); }
.pixel:nth-child(191) { background: rgb(209,55,55); }
.pixel:nth-child(192) { background: rgb(209,55,55); }
.pixel:nth-child(193) { background: rgb(209,55,55); }
.pixel:nth-child(194) { background: rgb(209,55,55); }
.pixel:nth-child(195) { background: rgb(209,55,55); }
.pixel:nth-child(196) { background: rgb(77,77,77); }
.pixel:nth-child(197) { background: rgb(138,138,138); }
.pixel:nth-child(198) { background: rgb(138,138,138); }
.pixel:nth-child(199) { background: rgb(209,55,55); }
.pixel:nth-child(200) { background: rgb(209,55,55); }
.pixel:nth-child(201) { background: rgb(209,55,55); }
.pixel:nth-child(202) { background: rgb(209,55,55); }
.pixel:nth-child(203) { background: rgb(209,55,55); }
.pixel:nth-child(204) { background: rgb(138,138,138); }
.pixel:nth-child(205) { background: rgb(48,48,48); }
.pixel:nth-child(213) { background: rgb(48,48,48); }
.pixel:nth-child(214) { background: rgb(209,55,55); }
.pixel:nth-child(215) { background: rgb(209,55,55); }
.pixel:nth-child(216) { background: rgb(209,55,55); }
.pixel:nth-child(217) { background: rgb(209,55,55); }
.pixel:nth-child(218) { background: rgb(77,77,77); }
.pixel:nth-child(219) { background: rgb(77,77,77); }
.pixel:nth-child(220) { background: rgb(77,77,77); }
.pixel:nth-child(221) { background: rgb(138,138,138); }
.pixel:nth-child(222) { background: rgb(138,138,138); }
.pixel:nth-child(223) { background: rgb(138,138,138); }
.pixel:nth-child(224) { background: rgb(209,55,55); }
.pixel:nth-child(225) { background: rgb(209,55,55); }
.pixel:nth-child(226) { background: rgb(138,138,138); }
.pixel:nth-child(227) { background: rgb(138,138,138); }
.pixel:nth-child(228) { background: rgb(48,48,48); }
.pixel:nth-child(231) { background: rgb(48,48,48); }
.pixel:nth-child(232) { background: rgb(48,48,48); }
.pixel:nth-child(237) { background: rgb(48,48,48); }
.pixel:nth-child(238) { background: rgb(209,55,55); }
.pixel:nth-child(239) { background: rgb(209,55,55); }
.pixel:nth-child(240) { background: rgb(209,55,55); }
.pixel:nth-child(241) { background: rgb(77,77,77); }
.pixel:nth-child(242) { background: rgb(77,77,77); }
.pixel:nth-child(243) { background: rgb(255,255,255); }
.pixel:nth-child(244) { background: rgb(255,255,255); }
.pixel:nth-child(245) { background: rgb(138,138,138); }
.pixel:nth-child(246) { background: rgb(138,138,138); }
.pixel:nth-child(247) { background: rgb(209,55,55); }
.pixel:nth-child(248) { background: rgb(209,55,55); }
.pixel:nth-child(249) { background: rgb(138,138,138); }
.pixel:nth-child(250) { background: rgb(138,138,138); }
.pixel:nth-child(251) { background: rgb(48,48,48); }
.pixel:nth-child(254) { background: rgb(48,48,48); }
.pixel:nth-child(255) { background: rgb(128,75,64); }
.pixel:nth-child(256) { background: rgb(48,48,48); }
.pixel:nth-child(260) { background: rgb(48,48,48); }
.pixel:nth-child(261) { background: rgb(209,55,55); }
.pixel:nth-child(262) { background: rgb(209,55,55); }
.pixel:nth-child(263) { background: rgb(209,55,55); }
.pixel:nth-child(264) { background: rgb(77,77,77); }
.pixel:nth-child(265) { background: rgb(77,77,77); }
.pixel:nth-child(266) { background: rgb(255,255,255); }
.pixel:nth-child(267) { background: rgb(255,255,255); }
.pixel:nth-child(268) { background: rgb(255,255,255); }
.pixel:nth-child(269) { background: rgb(138,138,138); }
.pixel:nth-child(270) { background: rgb(209,55,55); }
.pixel:nth-child(271) { background: rgb(209,55,55); }
.pixel:nth-child(272) { background: rgb(138,138,138); }
.pixel:nth-child(273) { background: rgb(48,48,48); }
.pixel:nth-child(278) { background: rgb(48,48,48); }
.pixel:nth-child(279) { background: rgb(128,75,64); }
.pixel:nth-child(280) { background: rgb(48,48,48); }
.pixel:nth-child(284) { background: rgb(48,48,48); }
.pixel:nth-child(285) { background: rgb(209,55,55); }
.pixel:nth-child(286) { background: rgb(209,55,55); }
.pixel:nth-child(287) { background: rgb(209,55,55); }
.pixel:nth-child(288) { background: rgb(77,77,77); }
.pixel:nth-child(289) { background: rgb(77,77,77); }
.pixel:nth-child(290) { background: rgb(77,77,77); }
.pixel:nth-child(291) { background: rgb(138,138,138); }
.pixel:nth-child(292) { background: rgb(138,138,138); }
.pixel:nth-child(293) { background: rgb(209,55,55); }
.pixel:nth-child(294) { background: rgb(209,55,55); }
.pixel:nth-child(295) { background: rgb(138,138,138); }
.pixel:nth-child(296) { background: rgb(48,48,48); }
.pixel:nth-child(302) { background: rgb(48,48,48); }
.pixel:nth-child(303) { background: rgb(128,75,64); }
.pixel:nth-child(304) { background: rgb(48,48,48); }
.pixel:nth-child(308) { background: rgb(48,48,48); }
.pixel:nth-child(309) { background: rgb(209,55,55); }
.pixel:nth-child(310) { background: rgb(209,55,55); }
.pixel:nth-child(311) { background: rgb(209,55,55); }
.pixel:nth-child(312) { background: rgb(77,77,77); }
.pixel:nth-child(313) { background: rgb(77,77,77); }
.pixel:nth-child(314) { background: rgb(138,138,138); }
.pixel:nth-child(315) { background: rgb(209,55,55); }
.pixel:nth-child(316) { background: rgb(209,55,55); }
.pixel:nth-child(317) { background: rgb(209,55,55); }
.pixel:nth-child(318) { background: rgb(209,55,55); }
.pixel:nth-child(319) { background: rgb(48,48,48); }
.pixel:nth-child(326) { background: rgb(48,48,48); }
.pixel:nth-child(327) { background: rgb(128,75,64); }
.pixel:nth-child(328) { background: rgb(48,48,48); }
.pixel:nth-child(330) { background: rgb(48,48,48); }
.pixel:nth-child(331) { background: rgb(77,77,77); }
.pixel:nth-child(332) { background: rgb(48,48,48); }
.pixel:nth-child(333) { background: rgb(209,55,55); }
.pixel:nth-child(334) { background: rgb(209,55,55); }
.pixel:nth-child(335) { background: rgb(209,55,55); }
.pixel:nth-child(336) { background: rgb(209,55,55); }
.pixel:nth-child(337) { background: rgb(209,55,55); }
.pixel:nth-child(338) { background: rgb(209,55,55); }
.pixel:nth-child(339) { background: rgb(209,55,55); }
.pixel:nth-child(340) { background: rgb(209,55,55); }
.pixel:nth-child(341) { background: rgb(48,48,48); }
.pixel:nth-child(350) { background: rgb(48,48,48); }
.pixel:nth-child(351) { background: rgb(48,48,48); }
.pixel:nth-child(352) { background: rgb(48,48,48); }
.pixel:nth-child(353) { background: rgb(77,77,77); }
.pixel:nth-child(354) { background: rgb(77,77,77); }
.pixel:nth-child(355) { background: rgb(77,77,77); }
.pixel:nth-child(356) { background: rgb(48,48,48); }
.pixel:nth-child(357) { background: rgb(48,48,48); }
.pixel:nth-child(358) { background: rgb(209,55,55); }
.pixel:nth-child(359) { background: rgb(209,55,55); }
.pixel:nth-child(360) { background: rgb(209,55,55); }
.pixel:nth-child(361) { background: rgb(209,55,55); }
.pixel:nth-child(362) { background: rgb(209,55,55); }
.pixel:nth-child(363) { background: rgb(48,48,48); }
.pixel:nth-child(374) { background: rgb(48,48,48); }
.pixel:nth-child(375) { background: rgb(77,77,77); }
.pixel:nth-child(376) { background: rgb(77,77,77); }
.pixel:nth-child(377) { background: rgb(77,77,77); }
.pixel:nth-child(378) { background: rgb(77,77,77); }
.pixel:nth-child(379) { background: rgb(77,77,77); }
.pixel:nth-child(380) { background: rgb(77,77,77); }
.pixel:nth-child(381) { background: rgb(48,48,48); }
.pixel:nth-child(382) { background: rgb(48,48,48); }
.pixel:nth-child(383) { background: rgb(48,48,48); }
.pixel:nth-child(384) { background: rgb(48,48,48); }
.pixel:nth-child(385) { background: rgb(48,48,48); }
.pixel:nth-child(386) { background: rgb(209,55,55); }
.pixel:nth-child(387) { background: rgb(48,48,48); }
.pixel:nth-child(397) { background: rgb(48,48,48); }
.pixel:nth-child(398) { background: rgb(77,77,77); }
.pixel:nth-child(399) { background: rgb(77,77,77); }
.pixel:nth-child(400) { background: rgb(77,77,77); }
.pixel:nth-child(401) { background: rgb(77,77,77); }
.pixel:nth-child(402) { background: rgb(48,48,48); }
.pixel:nth-child(403) { background: rgb(77,77,77); }
.pixel:nth-child(404) { background: rgb(209,55,55); }
.pixel:nth-child(405) { background: rgb(209,55,55); }
.pixel:nth-child(406) { background: rgb(209,55,55); }
.pixel:nth-child(407) { background: rgb(209,55,55); }
.pixel:nth-child(408) { background: rgb(209,55,55); }
.pixel:nth-child(409) { background: rgb(209,55,55); }
.pixel:nth-child(410) { background: rgb(77,77,77); }
.pixel:nth-child(411) { background: rgb(48,48,48); }
.pixel:nth-child(419) { background: rgb(48,48,48); }
.pixel:nth-child(420) { background: rgb(77,77,77); }
.pixel:nth-child(421) { background: rgb(48,48,48); }
.pixel:nth-child(422) { background: rgb(77,77,77); }
.pixel:nth-child(423) { background: rgb(77,77,77); }
.pixel:nth-child(424) { background: rgb(77,77,77); }
.pixel:nth-child(425) { background: rgb(48,48,48); }
.pixel:nth-child(426) { background: rgb(77,77,77); }
.pixel:nth-child(427) { background: rgb(209,55,55); }
.pixel:nth-child(428) { background: rgb(209,55,55); }
.pixel:nth-child(429) { background: rgb(209,55,55); }
.pixel:nth-child(430) { background: rgb(209,55,55); }
.pixel:nth-child(431) { background: rgb(209,55,55); }
.pixel:nth-child(432) { background: rgb(209,55,55); }
.pixel:nth-child(433) { background: rgb(77,77,77); }
.pixel:nth-child(434) { background: rgb(48,48,48); }
.pixel:nth-child(442) { background: rgb(48,48,48); }
.pixel:nth-child(443) { background: rgb(209,55,55); }
.pixel:nth-child(444) { background: rgb(77,77,77); }
.pixel:nth-child(445) { background: rgb(77,77,77); }
.pixel:nth-child(446) { background: rgb(77,77,77); }
.pixel:nth-child(447) { background: rgb(48,48,48); }
.pixel:nth-child(448) { background: rgb(77,77,77); }
.pixel:nth-child(449) { background: rgb(48,48,48); }
.pixel:nth-child(450) { background: rgb(48,48,48); }
.pixel:nth-child(451) { background: rgb(209,55,55); }
.pixel:nth-child(452) { background: rgb(209,55,55); }
.pixel:nth-child(453) { background: rgb(209,55,55); }
.pixel:nth-child(454) { background: rgb(209,55,55); }
.pixel:nth-child(455) { background: rgb(209,55,55); }
.pixel:nth-child(456) { background: rgb(48,48,48); }
.pixel:nth-child(457) { background: rgb(48,48,48); }
.pixel:nth-child(464) { background: rgb(48,48,48); }
.pixel:nth-child(465) { background: rgb(77,77,77); }
.pixel:nth-child(466) { background: rgb(209,55,55); }
.pixel:nth-child(467) { background: rgb(209,55,55); }
.pixel:nth-child(468) { background: rgb(77,77,77); }
.pixel:nth-child(469) { background: rgb(48,48,48); }
.pixel:nth-child(470) { background: rgb(77,77,77); }
.pixel:nth-child(471) { background: rgb(77,77,77); }
.pixel:nth-child(472) { background: rgb(77,77,77); }
.pixel:nth-child(473) { background: rgb(77,77,77); }
.pixel:nth-child(474) { background: rgb(209,55,55); }
.pixel:nth-child(475) { background: rgb(209,55,55); }
.pixel:nth-child(476) { background: rgb(209,55,55); }
.pixel:nth-child(477) { background: rgb(209,55,55); }
.pixel:nth-child(478) { background: rgb(209,55,55); }
.pixel:nth-child(479) { background: rgb(77,77,77); }
.pixel:nth-child(480) { background: rgb(48,48,48); }
.pixel:nth-child(481) { background: rgb(48,48,48); }
.pixel:nth-child(487) { background: rgb(48,48,48); }
.pixel:nth-child(488) { background: rgb(77,77,77); }
.pixel:nth-child(489) { background: rgb(77,77,77); }
.pixel:nth-child(490) { background: rgb(209,55,55); }
.pixel:nth-child(491) { background: rgb(209,55,55); }
.pixel:nth-child(492) { background: rgb(48,48,48); }
.pixel:nth-child(493) { background: rgb(48,48,48); }
.pixel:nth-child(494) { background: rgb(77,77,77); }
.pixel:nth-child(495) { background: rgb(77,77,77); }
.pixel:nth-child(496) { background: rgb(77,77,77); }
.pixel:nth-child(497) { background: rgb(209,55,55); }
.pixel:nth-child(498) { background: rgb(209,55,55); }
.pixel:nth-child(499) { background: rgb(209,55,55); }
.pixel:nth-child(500) { background: rgb(209,55,55); }
.pixel:nth-child(501) { background: rgb(209,55,55); }
.pixel:nth-child(502) { background: rgb(77,77,77); }
.pixel:nth-child(503) { background: rgb(48,48,48); }
.pixel:nth-child(504) { background: rgb(48,48,48); }
.pixel:nth-child(510) { background: rgb(48,48,48); }
.pixel:nth-child(511) { background: rgb(209,55,55); }
.pixel:nth-child(512) { background: rgb(77,77,77); }
.pixel:nth-child(513) { background: rgb(77,77,77); }
.pixel:nth-child(514) { background: rgb(48,48,48); }
.pixel:nth-child(517) { background: rgb(48,48,48); }
.pixel:nth-child(518) { background: rgb(77,77,77); }
.pixel:nth-child(519) { background: rgb(77,77,77); }
.pixel:nth-child(520) { background: rgb(209,55,55); }
.pixel:nth-child(521) { background: rgb(209,55,55); }
.pixel:nth-child(522) { background: rgb(209,55,55); }
.pixel:nth-child(523) { background: rgb(209,55,55); }
.pixel:nth-child(524) { background: rgb(209,55,55); }
.pixel:nth-child(525) { background: rgb(77,77,77); }
.pixel:nth-child(526) { background: rgb(48,48,48); }
.pixel:nth-child(527) { background: rgb(48,48,48); }
.pixel:nth-child(532) { background: rgb(48,48,48); }
.pixel:nth-child(533) { background: rgb(209,55,55); }
.pixel:nth-child(534) { background: rgb(209,55,55); }
.pixel:nth-child(535) { background: rgb(209,55,55); }
.pixel:nth-child(536) { background: rgb(48,48,48); }
.pixel:nth-child(540) { background: rgb(48,48,48); }
.pixel:nth-child(541) { background: rgb(48,48,48); }
.pixel:nth-child(542) { background: rgb(77,77,77); }
.pixel:nth-child(543) { background: rgb(209,55,55); }
.pixel:nth-child(544) { background: rgb(209,55,55); }
.pixel:nth-child(545) { background: rgb(48,48,48); }
.pixel:nth-child(546) { background: rgb(48,48,48); }
.pixel:nth-child(547) { background: rgb(48,48,48); }
.pixel:nth-child(548) { background: rgb(77,77,77); }
.pixel:nth-child(549) { background: rgb(48,48,48); }
.pixel:nth-child(550) { background: rgb(77,77,77); }
.pixel:nth-child(551) { background: rgb(48,48,48); }
.pixel:nth-child(555) { background: rgb(48,48,48); }
.pixel:nth-child(556) { background: rgb(209,55,55); }
.pixel:nth-child(557) { background: rgb(209,55,55); }
.pixel:nth-child(558) { background: rgb(209,55,55); }
.pixel:nth-child(559) { background: rgb(48,48,48); }
.pixel:nth-child(563) { background: rgb(48,48,48); }
.pixel:nth-child(564) { background: rgb(77,77,77); }
.pixel:nth-child(565) { background: rgb(48,48,48); }
.pixel:nth-child(566) { background: rgb(77,77,77); }
.pixel:nth-child(567) { background: rgb(48,48,48); }
.pixel:nth-child(568) { background: rgb(255,255,255); }
.pixel:nth-child(569) { background: rgb(209,55,55); }
.pixel:nth-child(570) { background: rgb(255,255,255); }
.pixel:nth-child(571) { background: rgb(48,48,48); }
.pixel:nth-child(572) { background: rgb(48,48,48); }
.pixel:nth-child(573) { background: rgb(209,55,55); }
.pixel:nth-child(574) { background: rgb(48,48,48); }
.pixel:nth-child(578) { background: rgb(48,48,48); }
.pixel:nth-child(579) { background: rgb(77,77,77); }
.pixel:nth-child(580) { background: rgb(77,77,77); }
.pixel:nth-child(581) { background: rgb(77,77,77); }
.pixel:nth-child(582) { background: rgb(48,48,48); }
.pixel:nth-child(585) { background: rgb(48,48,48); }
.pixel:nth-child(586) { background: rgb(77,77,77); }
.pixel:nth-child(587) { background: rgb(77,77,77); }
.pixel:nth-child(588) { background: rgb(77,77,77); }
.pixel:nth-child(589) { background: rgb(77,77,77); }
.pixel:nth-child(590) { background: rgb(48,48,48); }
.pixel:nth-child(591) { background: rgb(255,255,255); }
.pixel:nth-child(592) { background: rgb(209,55,55); }
.pixel:nth-child(593) { background: rgb(255,255,255); }
.pixel:nth-child(594) { background: rgb(48,48,48); }
.pixel:nth-child(595) { background: rgb(48,48,48); }
.pixel:nth-child(596) { background: rgb(209,55,55); }
.pixel:nth-child(597) { background: rgb(48,48,48); }
.pixel:nth-child(601) { background: rgb(48,48,48); }
.pixel:nth-child(602) { background: rgb(209,55,55); }
.pixel:nth-child(603) { background: rgb(209,55,55); }
.pixel:nth-child(604) { background: rgb(209,55,55); }
.pixel:nth-child(605) { background: rgb(209,55,55); }
.pixel:nth-child(606) { background: rgb(48,48,48); }
.pixel:nth-child(608) { background: rgb(48,48,48); }
.pixel:nth-child(609) { background: rgb(77,77,77); }
.pixel:nth-child(610) { background: rgb(77,77,77); }
.pixel:nth-child(611) { background: rgb(209,55,55); }
.pixel:nth-child(612) { background: rgb(209,55,55); }
.pixel:nth-child(613) { background: rgb(209,55,55); }
.pixel:nth-child(614) { background: rgb(48,48,48); }
.pixel:nth-child(615) { background: rgb(48,48,48); }
.pixel:nth-child(616) { background: rgb(48,48,48); }
.pixel:nth-child(617) { background: rgb(77,77,77); }
.pixel:nth-child(618) { background: rgb(48,48,48); }
.pixel:nth-child(619) { background: rgb(77,77,77); }
.pixel:nth-child(620) { background: rgb(48,48,48); }
.pixel:nth-child(624) { background: rgb(48,48,48); }
.pixel:nth-child(625) { background: rgb(209,55,55); }
.pixel:nth-child(626) { background: rgb(209,55,55); }
.pixel:nth-child(627) { background: rgb(209,55,55); }
.pixel:nth-child(628) { background: rgb(209,55,55); }
.pixel:nth-child(629) { background: rgb(48,48,48); }
.pixel:nth-child(630) { background: rgb(48,48,48); }
.pixel:nth-child(631) { background: rgb(77,77,77); }
.pixel:nth-child(632) { background: rgb(77,77,77); }
.pixel:nth-child(633) { background: rgb(209,55,55); }
.pixel:nth-child(634) { background: rgb(209,55,55); }
.pixel:nth-child(635) { background: rgb(209,55,55); }
.pixel:nth-child(636) { background: rgb(209,55,55); }
.pixel:nth-child(637) { background: rgb(209,55,55); }
.pixel:nth-child(638) { background: rgb(209,55,55); }
.pixel:nth-child(639) { background: rgb(209,55,55); }
.pixel:nth-child(640) { background: rgb(77,77,77); }
.pixel:nth-child(641) { background: rgb(48,48,48); }
.pixel:nth-child(642) { background: rgb(209,55,55); }
.pixel:nth-child(643) { background: rgb(209,55,55); }
.pixel:nth-child(644) { background: rgb(48,48,48); }
.pixel:nth-child(647) { background: rgb(48,48,48); }
.pixel:nth-child(648) { background: rgb(209,55,55); }
.pixel:nth-child(649) { background: rgb(209,55,55); }
.pixel:nth-child(650) { background: rgb(209,55,55); }
.pixel:nth-child(651) { background: rgb(48,48,48); }
.pixel:nth-child(652) { background: rgb(209,55,55); }
.pixel:nth-child(653) { background: rgb(48,48,48); }
.pixel:nth-child(654) { background: rgb(77,77,77); }
.pixel:nth-child(655) { background: rgb(209,55,55); }
.pixel:nth-child(656) { background: rgb(209,55,55); }
.pixel:nth-child(657) { background: rgb(209,55,55); }
.pixel:nth-child(658) { background: rgb(209,55,55); }
.pixel:nth-child(659) { background: rgb(48,48,48); }
.pixel:nth-child(660) { background: rgb(209,55,55); }
.pixel:nth-child(661) { background: rgb(48,48,48); }
.pixel:nth-child(662) { background: rgb(209,55,55); }
.pixel:nth-child(663) { background: rgb(77,77,77); }
.pixel:nth-child(664) { background: rgb(48,48,48); }
.pixel:nth-child(665) { background: rgb(48,48,48); }
.pixel:nth-child(666) { background: rgb(209,55,55); }
.pixel:nth-child(667) { background: rgb(48,48,48); }
.pixel:nth-child(671) { background: rgb(48,48,48); }
.pixel:nth-child(672) { background: rgb(209,55,55); }
.pixel:nth-child(673) { background: rgb(209,55,55); }
.pixel:nth-child(674) { background: rgb(48,48,48); }
.pixel:nth-child(675) { background: rgb(48,48,48); }
.pixel:nth-child(676) { background: rgb(48,48,48); }
.pixel:nth-child(677) { background: rgb(209,55,55); }
.pixel:nth-child(678) { background: rgb(209,55,55); }
.pixel:nth-child(679) { background: rgb(209,55,55); }
.pixel:nth-child(680) { background: rgb(209,55,55); }
.pixel:nth-child(681) { background: rgb(209,55,55); }
.pixel:nth-child(682) { background: rgb(48,48,48); }
.pixel:nth-child(683) { background: rgb(48,48,48); }
.pixel:nth-child(684) { background: rgb(209,55,55); }
.pixel:nth-child(685) { background: rgb(209,55,55); }
.pixel:nth-child(686) { background: rgb(209,55,55); }
.pixel:nth-child(687) { background: rgb(48,48,48); }
.pixel:nth-child(688) { background: rgb(48,48,48); }
.pixel:nth-child(689) { background: rgb(209,55,55); }
.pixel:nth-child(690) { background: rgb(48,48,48); }
.pixel:nth-child(695) { background: rgb(48,48,48); }
.pixel:nth-child(696) { background: rgb(48,48,48); }
.pixel:nth-child(697) { background: rgb(48,48,48); }
.pixel:nth-child(698) { background: rgb(48,48,48); }
.pixel:nth-child(699) { background: rgb(209,55,55); }
.pixel:nth-child(700) { background: rgb(209,55,55); }
.pixel:nth-child(701) { background: rgb(209,55,55); }
.pixel:nth-child(702) { background: rgb(209,55,55); }
.pixel:nth-child(703) { background: rgb(209,55,55); }
.pixel:nth-child(704) { background: rgb(209,55,55); }
.pixel:nth-child(705) { background: rgb(48,48,48); }
.pixel:nth-child(706) { background: rgb(209,55,55); }
.pixel:nth-child(707) { background: rgb(209,55,55); }
.pixel:nth-child(708) { background: rgb(209,55,55); }
.pixel:nth-child(709) { background: rgb(209,55,55); }
.pixel:nth-child(710) { background: rgb(48,48,48); }
.pixel:nth-child(711) { background: rgb(48,48,48); }
.pixel:nth-child(712) { background: rgb(48,48,48); }
.pixel:nth-child(713) { background: rgb(48,48,48); }
.pixel:nth-child(720) { background: rgb(48,48,48); }
.pixel:nth-child(721) { background: rgb(209,55,55); }
.pixel:nth-child(722) { background: rgb(209,55,55); }
.pixel:nth-child(723) { background: rgb(209,55,55); }
.pixel:nth-child(724) { background: rgb(209,55,55); }
.pixel:nth-child(725) { background: rgb(209,55,55); }
.pixel:nth-child(726) { background: rgb(209,55,55); }
.pixel:nth-child(727) { background: rgb(48,48,48); }
.pixel:nth-child(728) { background: rgb(48,48,48); }
.pixel:nth-child(729) { background: rgb(209,55,55); }
.pixel:nth-child(730) { background: rgb(209,55,55); }
.pixel:nth-child(731) { background: rgb(209,55,55); }
.pixel:nth-child(732) { background: rgb(209,55,55); }
.pixel:nth-child(733) { background: rgb(48,48,48); }
.pixel:nth-child(743) { background: rgb(48,48,48); }
.pixel:nth-child(744) { background: rgb(209,55,55); }
.pixel:nth-child(745) { background: rgb(48,48,48); }
.pixel:nth-child(746) { background: rgb(209,55,55); }
.pixel:nth-child(747) { background: rgb(48,48,48); }
.pixel:nth-child(748) { background: rgb(209,55,55); }
.pixel:nth-child(749) { background: rgb(209,55,55); }
.pixel:nth-child(750) { background: rgb(48,48,48); }
.pixel:nth-child(751) { background: rgb(48,48,48); }
.pixel:nth-child(752) { background: rgb(209,55,55); }
.pixel:nth-child(753) { background: rgb(209,55,55); }
.pixel:nth-child(754) { background: rgb(48,48,48); }
.pixel:nth-child(755) { background: rgb(209,55,55); }
.pixel:nth-child(756) { background: rgb(48,48,48); }
.pixel:nth-child(766) { background: rgb(48,48,48); }
.pixel:nth-child(767) { background: rgb(209,55,55); }
.pixel:nth-child(768) { background: rgb(48,48,48); }
.pixel:nth-child(769) { background: rgb(48,48,48); }
.pixel:nth-child(770) { background: rgb(209,55,55); }
.pixel:nth-child(771) { background: rgb(209,55,55); }
.pixel:nth-child(772) { background: rgb(48,48,48); }
.pixel:nth-child(774) { background: rgb(48,48,48); }
.pixel:nth-child(775) { background: rgb(209,55,55); }
.pixel:nth-child(776) { background: rgb(209,55,55); }
.pixel:nth-child(777) { background: rgb(48,48,48); }
.pixel:nth-child(778) { background: rgb(48,48,48); }
.pixel:nth-child(779) { background: rgb(48,48,48); }
.pixel:nth-child(788) { background: rgb(48,48,48); }
.pixel:nth-child(789) { background: rgb(209,55,55); }
.pixel:nth-child(790) { background: rgb(209,55,55); }
.pixel:nth-child(791) { background: rgb(209,55,55); }
.pixel:nth-child(792) { background: rgb(209,55,55); }
.pixel:nth-child(793) { background: rgb(209,55,55); }
.pixel:nth-child(794) { background: rgb(48,48,48); }
.pixel:nth-child(797) { background: rgb(48,48,48); }
.pixel:nth-child(798) { background: rgb(209,55,55); }
.pixel:nth-child(799) { background: rgb(209,55,55); }
.pixel:nth-child(800) { background: rgb(209,55,55); }
.pixel:nth-child(801) { background: rgb(209,55,55); }
.pixel:nth-child(802) { background: rgb(48,48,48); }
.pixel:nth-child(811) { background: rgb(48,48,48); }
.pixel:nth-child(812) { background: rgb(77,77,77); }
.pixel:nth-child(813) { background: rgb(77,77,77); }
.pixel:nth-child(814) { background: rgb(77,77,77); }
.pixel:nth-child(815) { background: rgb(77,77,77); }
.pixel:nth-child(816) { background: rgb(77,77,77); }
.pixel:nth-child(817) { background: rgb(48,48,48); }
.pixel:nth-child(820) { background: rgb(48,48,48); }
.pixel:nth-child(821) { background: rgb(77,77,77); }
.pixel:nth-child(822) { background: rgb(77,77,77); }
.pixel:nth-child(823) { background: rgb(77,77,77); }
.pixel:nth-child(824) { background: rgb(77,77,77); }
.pixel:nth-child(825) { background: rgb(48,48,48); }
.pixel:nth-child(834) { background: rgb(48,48,48); }
.pixel:nth-child(835) { background: rgb(77,77,77); }
.pixel:nth-child(836) { background: rgb(77,77,77); }
.pixel:nth-child(837) { background: rgb(77,77,77); }
.pixel:nth-child(838) { background: rgb(77,77,77); }
.pixel:nth-child(839) { background: rgb(48,48,48); }
.pixel:nth-child(843) { background: rgb(48,48,48); }
.pixel:nth-child(844) { background: rgb(77,77,77); }
.pixel:nth-child(845) { background: rgb(77,77,77); }
.pixel:nth-child(846) { background: rgb(77,77,77); }
.pixel:nth-child(847) { background: rgb(77,77,77); }
.pixel:nth-child(848) { background: rgb(48,48,48); }
.pixel:nth-child(856) { background: rgb(48,48,48); }
.pixel:nth-child(857) { background: rgb(77,77,77); }
.pixel:nth-child(858) { background: rgb(77,77,77); }
.pixel:nth-child(859) { background: rgb(77,77,77); }
.pixel:nth-child(860) { background: rgb(77,77,77); }
.pixel:nth-child(861) { background: rgb(77,77,77); }
.pixel:nth-child(862) { background: rgb(48,48,48); }
.pixel:nth-child(866) { background: rgb(48,48,48); }
.pixel:nth-child(867) { background: rgb(77,77,77); }
.pixel:nth-child(868) { background: rgb(77,77,77); }
.pixel:nth-child(869) { background: rgb(77,77,77); }
.pixel:nth-child(870) { background: rgb(77,77,77); }
.pixel:nth-child(871) { background: rgb(209,55,55); }
.pixel:nth-child(872) { background: rgb(48,48,48); }
.pixel:nth-child(879) { background: rgb(48,48,48); }
.pixel:nth-child(880) { background: rgb(209,55,55); }
.pixel:nth-child(881) { background: rgb(209,55,55); }
.pixel:nth-child(882) { background: rgb(209,55,55); }
.pixel:nth-child(883) { background: rgb(77,77,77); }
.pixel:nth-child(884) { background: rgb(48,48,48); }
.pixel:nth-child(890) { background: rgb(48,48,48); }
.pixel:nth-child(891) { background: rgb(77,77,77); }
.pixel:nth-child(892) { background: rgb(77,77,77); }
.pixel:nth-child(893) { background: rgb(209,55,55); }
.pixel:nth-child(894) { background: rgb(209,55,55); }
.pixel:nth-child(895) { background: rgb(209,55,55); }
.pixel:nth-child(896) { background: rgb(48,48,48); }
.pixel:nth-child(902) { background: rgb(48,48,48); }
.pixel:nth-child(903) { background: rgb(209,55,55); }
.pixel:nth-child(904) { background: rgb(209,55,55); }
.pixel:nth-child(905) { background: rgb(209,55,55); }
.pixel:nth-child(906) { background: rgb(209,55,55); }
.pixel:nth-child(907) { background: rgb(48,48,48); }
.pixel:nth-child(914) { background: rgb(48,48,48); }
.pixel:nth-child(915) { background: rgb(48,48,48); }
.pixel:nth-child(916) { background: rgb(48,48,48); }
.pixel:nth-child(917) { background: rgb(48,48,48); }
.pixel:nth-child(918) { background: rgb(48,48,48); }
.pixel:nth-child(919) { background: rgb(48,48,48); }
.pixel:nth-child(925) { background: rgb(48,48,48); }
.pixel:nth-child(926) { background: rgb(48,48,48); }
.pixel:nth-child(927) { background: rgb(48,48,48); }
.pixel:nth-child(928) { background: rgb(48,48,48); }
.pixel:nth-child(929) { background: rgb(48,48,48); }
.pixel:nth-child(930) { background: rgb(48,48,48); }
