html,
body {
  height: 100%;
}
body {
  align-items: center;
  flex-direction: row;
  padding-top: 40px;
  padding-bottom: 40px;
  background: #FFEFBA;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: auto;
}

.form-signin1 {
  width: 100%;
  max-width: 600px;
  padding: 15px;
  margin: auto;
}

.form-signin2 {
  width: 100%;
  max-width: 800px;
  padding: 15px;
  margin: auto;
}
.form-signin1 .checkbox {
  font-weight: 400;
}
.form-signin1 .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin1 .form-control:focus {
  z-index: 2;
}
.form-signin1 input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin1 input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.card {
  border: 2px solid black;
  border-radius: 15px;
}

.button {
    background: #FFEFBA;
}