body{
 background: #333333; 
 height: 100vh; 
 display: flex; 
 justify-content: center; 
 align-items: center; 
 } 
.canvas{ 
 width: 480px; 
height: 480px; 
 }.pixel{ 
 width: 30px; 
height: 30px; 
 float: left; 
 } 
.pixel:nth-child(5) { background: rgb(255,51,0); }
.pixel:nth-child(6) { background: rgb(255,51,0); }
.pixel:nth-child(7) { background: rgb(255,51,0); }
.pixel:nth-child(8) { background: rgb(255,51,0); }
.pixel:nth-child(9) { background: rgb(255,51,0); }
.pixel:nth-child(10) { background: rgb(255,51,0); }
.pixel:nth-child(20) { background: rgb(255,51,0); }
.pixel:nth-child(21) { background: rgb(255,51,0); }
.pixel:nth-child(22) { background: rgb(255,51,0); }
.pixel:nth-child(23) { background: rgb(255,51,0); }
.pixel:nth-child(24) { background: rgb(255,51,0); }
.pixel:nth-child(25) { background: rgb(255,51,0); }
.pixel:nth-child(26) { background: rgb(255,51,0); }
.pixel:nth-child(27) { background: rgb(255,51,0); }
.pixel:nth-child(28) { background: rgb(255,51,0); }
.pixel:nth-child(29) { background: rgb(255,51,0); }
.pixel:nth-child(36) { background: rgb(134,89,45); }
.pixel:nth-child(37) { background: rgb(134,89,45); }
.pixel:nth-child(38) { background: rgb(134,89,45); }
.pixel:nth-child(39) { background: rgb(255,209,204); }
.pixel:nth-child(40) { background: rgb(255,209,204); }
.pixel:nth-child(41) { background: rgb(255,209,204); }
.pixel:nth-child(42) { background: rgb(0,0,0); }
.pixel:nth-child(43) { background: rgb(255,209,204); }
.pixel:nth-child(51) { background: rgb(134,89,45); }
.pixel:nth-child(52) { background: rgb(255,209,204); }
.pixel:nth-child(53) { background: rgb(134,89,45); }
.pixel:nth-child(54) { background: rgb(255,209,204); }
.pixel:nth-child(55) { background: rgb(255,209,204); }
.pixel:nth-child(56) { background: rgb(255,209,204); }
.pixel:nth-child(57) { background: rgb(255,209,204); }
.pixel:nth-child(58) { background: rgb(0,0,0); }
.pixel:nth-child(59) { background: rgb(255,209,204); }
.pixel:nth-child(60) { background: rgb(255,209,204); }
.pixel:nth-child(61) { background: rgb(255,209,204); }
.pixel:nth-child(67) { background: rgb(134,89,45); }
.pixel:nth-child(68) { background: rgb(255,209,204); }
.pixel:nth-child(69) { background: rgb(134,89,45); }
.pixel:nth-child(70) { background: rgb(134,89,45); }
.pixel:nth-child(71) { background: rgb(255,209,204); }
.pixel:nth-child(72) { background: rgb(255,209,204); }
.pixel:nth-child(73) { background: rgb(255,209,204); }
.pixel:nth-child(74) { background: rgb(255,209,204); }
.pixel:nth-child(75) { background: rgb(0,0,0); }
.pixel:nth-child(76) { background: rgb(255,209,204); }
.pixel:nth-child(77) { background: rgb(255,209,204); }
.pixel:nth-child(78) { background: rgb(255,209,204); }
.pixel:nth-child(83) { background: rgb(134,89,45); }
.pixel:nth-child(84) { background: rgb(134,89,45); }
.pixel:nth-child(85) { background: rgb(255,209,204); }
.pixel:nth-child(86) { background: rgb(255,209,204); }
.pixel:nth-child(87) { background: rgb(255,209,204); }
.pixel:nth-child(88) { background: rgb(255,209,204); }
.pixel:nth-child(89) { background: rgb(255,209,204); }
.pixel:nth-child(90) { background: rgb(0,0,0); }
.pixel:nth-child(91) { background: rgb(0,0,0); }
.pixel:nth-child(92) { background: rgb(0,0,0); }
.pixel:nth-child(93) { background: rgb(0,0,0); }
.pixel:nth-child(101) { background: rgb(255,209,204); }
.pixel:nth-child(102) { background: rgb(255,209,204); }
.pixel:nth-child(103) { background: rgb(255,209,204); }
.pixel:nth-child(104) { background: rgb(255,209,204); }
.pixel:nth-child(105) { background: rgb(255,209,204); }
.pixel:nth-child(106) { background: rgb(255,209,204); }
.pixel:nth-child(107) { background: rgb(255,209,204); }
.pixel:nth-child(108) { background: rgb(255,209,204); }
.pixel:nth-child(116) { background: rgb(255,51,0); }
.pixel:nth-child(117) { background: rgb(255,51,0); }
.pixel:nth-child(118) { background: rgb(51,51,255); }
.pixel:nth-child(119) { background: rgb(255,51,0); }
.pixel:nth-child(120) { background: rgb(255,51,0); }
.pixel:nth-child(121) { background: rgb(51,51,255); }
.pixel:nth-child(122) { background: rgb(255,51,0); }
.pixel:nth-child(131) { background: rgb(255,51,0); }
.pixel:nth-child(132) { background: rgb(255,51,0); }
.pixel:nth-child(133) { background: rgb(255,51,0); }
.pixel:nth-child(134) { background: rgb(51,51,255); }
.pixel:nth-child(135) { background: rgb(255,51,0); }
.pixel:nth-child(136) { background: rgb(255,51,0); }
.pixel:nth-child(137) { background: rgb(51,51,255); }
.pixel:nth-child(138) { background: rgb(255,51,0); }
.pixel:nth-child(139) { background: rgb(255,51,0); }
.pixel:nth-child(140) { background: rgb(255,51,0); }
.pixel:nth-child(141) { background: rgb(255,51,0); }
.pixel:nth-child(146) { background: rgb(255,51,0); }
.pixel:nth-child(147) { background: rgb(255,51,0); }
.pixel:nth-child(148) { background: rgb(255,51,0); }
.pixel:nth-child(149) { background: rgb(255,51,0); }
.pixel:nth-child(150) { background: rgb(51,51,255); }
.pixel:nth-child(151) { background: rgb(51,51,255); }
.pixel:nth-child(152) { background: rgb(51,51,255); }
.pixel:nth-child(153) { background: rgb(51,51,255); }
.pixel:nth-child(154) { background: rgb(255,51,0); }
.pixel:nth-child(155) { background: rgb(255,51,0); }
.pixel:nth-child(156) { background: rgb(255,51,0); }
.pixel:nth-child(157) { background: rgb(255,51,0); }
.pixel:nth-child(162) { background: rgb(255,209,204); }
.pixel:nth-child(163) { background: rgb(255,209,204); }
.pixel:nth-child(164) { background: rgb(255,51,0); }
.pixel:nth-child(165) { background: rgb(51,51,255); }
.pixel:nth-child(166) { background: rgb(255,255,0); }
.pixel:nth-child(167) { background: rgb(51,51,255); }
.pixel:nth-child(168) { background: rgb(51,51,255); }
.pixel:nth-child(169) { background: rgb(255,255,0); }
.pixel:nth-child(170) { background: rgb(51,51,255); }
.pixel:nth-child(171) { background: rgb(255,51,0); }
.pixel:nth-child(172) { background: rgb(255,209,204); }
.pixel:nth-child(173) { background: rgb(255,209,204); }
.pixel:nth-child(178) { background: rgb(255,209,204); }
.pixel:nth-child(179) { background: rgb(255,209,204); }
.pixel:nth-child(180) { background: rgb(255,209,204); }
.pixel:nth-child(181) { background: rgb(51,51,255); }
.pixel:nth-child(182) { background: rgb(51,51,255); }
.pixel:nth-child(183) { background: rgb(51,51,255); }
.pixel:nth-child(184) { background: rgb(51,51,255); }
.pixel:nth-child(185) { background: rgb(51,51,255); }
.pixel:nth-child(186) { background: rgb(51,51,255); }
.pixel:nth-child(187) { background: rgb(255,209,204); }
.pixel:nth-child(188) { background: rgb(255,209,204); }
.pixel:nth-child(189) { background: rgb(255,209,204); }
.pixel:nth-child(194) { background: rgb(255,209,204); }
.pixel:nth-child(195) { background: rgb(255,209,204); }
.pixel:nth-child(196) { background: rgb(51,51,255); }
.pixel:nth-child(197) { background: rgb(51,51,255); }
.pixel:nth-child(198) { background: rgb(51,51,255); }
.pixel:nth-child(199) { background: rgb(51,51,255); }
.pixel:nth-child(200) { background: rgb(51,51,255); }
.pixel:nth-child(201) { background: rgb(51,51,255); }
.pixel:nth-child(202) { background: rgb(51,51,255); }
.pixel:nth-child(203) { background: rgb(51,51,255); }
.pixel:nth-child(204) { background: rgb(255,209,204); }
.pixel:nth-child(205) { background: rgb(255,209,204); }
.pixel:nth-child(212) { background: rgb(51,51,255); }
.pixel:nth-child(213) { background: rgb(51,51,255); }
.pixel:nth-child(214) { background: rgb(51,51,255); }
.pixel:nth-child(217) { background: rgb(51,51,255); }
.pixel:nth-child(218) { background: rgb(51,51,255); }
.pixel:nth-child(219) { background: rgb(51,51,255); }
.pixel:nth-child(227) { background: rgb(134,89,45); }
.pixel:nth-child(228) { background: rgb(134,89,45); }
.pixel:nth-child(229) { background: rgb(134,89,45); }
.pixel:nth-child(234) { background: rgb(134,89,45); }
.pixel:nth-child(235) { background: rgb(134,89,45); }
.pixel:nth-child(236) { background: rgb(134,89,45); }
.pixel:nth-child(242) { background: rgb(134,89,45); }
.pixel:nth-child(243) { background: rgb(134,89,45); }
.pixel:nth-child(244) { background: rgb(134,89,45); }
.pixel:nth-child(245) { background: rgb(134,89,45); }
.pixel:nth-child(250) { background: rgb(134,89,45); }
.pixel:nth-child(251) { background: rgb(134,89,45); }
.pixel:nth-child(252) { background: rgb(134,89,45); }
.pixel:nth-child(253) { background: rgb(134,89,45); }
